<template>
<div >

<div class="section">
	<img v-bind:src="langData.topImg">
	<div class="about-block" id="about">
		<div class="block-intro">
			<div class="title">{{langData.aboutUs}}</div>
			<div class="content">
				<p>{{langData.aboutText[1]}}</p>
				<p>{{langData.aboutText[2]}}</p>
				<p>{{langData.aboutText[3]}}</p>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="about-block">
		<div class="block-intro">
			<div class="title">{{langData.aboutHistory}}</div>
			<div class="content">
				<timeline :language="$route.params.lang"></timeline>
				<!-- <img v-bind:src="langData.historyImg"> -->
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="about-block" id="recruit">
		<div class="block-intro">
			<div class="title">{{langData.aboutPosition}}</div>
			<div class="content">
				<accordion :one-at-atime="true" type="default">
				  <!-- <panel is-open type="primary">
				    <strong slot="header"><u>Panel #1</u></strong>
				    first
				  </panel> -->
				  <panel v-for="item in langData.positionItems" :is-open="item.isopen" >
				  	<strong slot="header"><u>{{item.positionName}}</u></strong>
				    <div class="subtitle">{{langData.positionWork}}</div>
				    <div class="subcontent">
				    	<ul>
				    		<li v-for="li in item.positionWorkItems">{{li}}</li>
				    	</ul>
				    </div>
				    <div class="subtitle">{{langData.positionRequire}}</div>
				    <div class="subcontent">
				    	<ul>
				    		<li v-for="li in item.positionRequireItems">{{li}}</li>
				    	</ul>
				    </div>
				  </panel>
				  <!-- <panel header="Panel #3">
				    ...
				  </panel>
				  <panel header="Panel #4">
				    ...
				  </panel> -->
				</accordion>
			</div>
			<div>{{langData.sendEmailText}}&nbsp;<a href="mailto:hr@ufactory.cc">hr@ufactory.cc</a></div>
		</div>

	</div>
</div>
<div class="section">
	<div class="about-block" id="contact">
		<div class="block-intro">
			<div class="title">{{langData.aboutContact}}</div>
			<div class="content">
				<div class="content-box">
					<a :href="langData.feedback" target="_blank">
						<span><i class="fa fa-commenting fa-1x" aria-hidden="true"></i></span>
						<span>{{langData.btnContact}}</span>
					</a>
					<a href="mailto:info@ufactory.cc">
						<span><i class="fa fa-envelope fa-1x" aria-hidden="true"></i></span>
						<span>info@ufactory.cc</span>
					</a>
					<a :href="langData.addressURL">
						<span><i class="fa fa-map-marker fa-1x" aria-hidden="true"></i></span>
						<span>{{langData.aboutAddress}}</span>
					</a>
					<a href="tel:+86075523301959">
						<span><i class="fa fa-phone fa-1x" aria-hidden="true"></i></span>
						<span>+86 0755 23301959</span>
					</a>
				</div>

			</div>
			<div class="content">
				<img v-bind:src="langData.mapImg">
			</div>
		</div>

	</div>
</div>
</div>
<!-- {{$route.params.lang}} and {{lang}} -->
</template>

<script>
const imagePath = "http://cdn.ufactory.cc"; // local path is: /src
const Vue = require('vue');

// const VueBlu = require('vue-blu')
// Vue.use(VueBlu)
// var $ = require('jquery');
var Accordion = require('vue-strap').accordion,
	Panel = require('vue-strap').panel,
	Timeline = require('./timeline.vue');

	module.exports = {
    	data : function(){
    		return {
    			langData:{},
    			lang:"",
    			showData:{
    				a:{
						qtext:"defaulta",
						atext:"anserssss"
					},
					b:{
						qtext:"defaultb",
						atext:"anserssssbbb"
					}
    			}
    		}
    	},
      	created : function(){
      		var langText = {
    				cn:{
    					aboutAddress:"广东省深圳市南山区麻雀岭工业区M3栋2楼",
						aboutUs:"关于我们",
						historyImg:imagePath+"/img/banner/about2.png",
						mapImg:imagePath+"/img/banner/ufmap.png",
						topImg:imagePath+"/img/banner/about.png",
						aboutText:{
							1:"深圳市众为创造科技有限公司是一家新锐科技公司，创造了世界上第一台桌面级开源机械臂——uArm。uArm团队专注于设计创新型机械臂，是由来自全球的maker和一群热爱技术的顶级工程师，对机器人和人工智能有极致追求的年轻人共同铸造。",
							2:"我们从一开始就立志“打造国际化的产品”。在全球，UFACTORY的市场版图已经拓展至六十个国家，遍及北美、欧洲、印度以及东南亚。多家国际主流媒体对uArm机械臂给予了高度赞誉，《连线》的记者称uArm机械臂“一个聪明的机器人手臂”，并且生动的比喻 “三十年前，比尔·盖茨承诺在美国的每一张桌子上放置一台电脑，未来UFACTROY期望每个人也能够拥有机械臂”。",
							3:"我们希望将智能化的机器人带到每个人身边。它不仅是一样工具，更凭借其智能性成为人们生活中的得力助手。怀着创造“世界上最聪明的机器人”的愿景，我们将永不止步，发觉未来的无限可能。",
						},
						aboutHistory:"发展历程",
						aboutPosition:"加入我们",
						aboutContact:"联系我们",
						btnContact:"客服反馈",
						btnEmail:"邮箱",
						btnAddress:"地址",
						btnPhone:"电话",
						feedback:"http://form.mikecrm.com/K7pQsf",
						addressURL:"http://j.map.baidu.com/15uG9",
						positionWork:"工作职责",
						positionRequire:"职位要求",
						sendEmailText:"请发送简历到",
						positionItems:{
							1:{
								isopen:true,
								positionName:"视觉算法工程师",
								positionWorkItems:{
									1:"负责视觉相关功能算法的研究、验证、实现和优化，有嵌入式开发的相关实践经验",
									2:"配合其他项目成员完成相关的测试工作"
								},
								positionRequireItems:{
									1:"重点高校计算机或自动化专业本科以上学历，理论基础扎实",
									2:"有嵌入式平台算法优化经验优先",
									3:"熟练使用C++/C,熟悉目标跟踪/标测、三维重建、SLAM相关经验",
									4:"工作踏实、认真负责，抗压能力强，沟通能力好"
								}
							},
							2:{
								isopen:false,
								positionName:"机械结构工程师",
								positionWorkItems:{
									1:"负责产品机械方案的设计",
									2:"承担样机的研制、调试和相关技术文挡的拟制",
									3:"产品后续跟踪改善",
									4:"负责处理结构设计问题和技术支持"
								},
								positionRequireItems:{
									1:"机械相关专业，本科及以上学历，重点院校毕业优先考虑",
									2:"4年以上年的机械设计经历，做过智能机器人、精密机构的优先考虑",
									3:"力学理论基础好，懂数据分析仿真，熟悉各种材料特性、加工工艺、注塑工艺",
									4:"具备较强的团队沟通能力、责任心，能够在较大的压力下很好地完成工作"
								}
							},
							3:{
								isopen:false,
								positionName:"控制算法工程师",
								positionWorkItems:{
									1:"参与产品整体方案制定，完成产品软件设计定型",
									2:"熟练使用相应仿真软件，对所需运动控制算法、机器人算法进行仿真验证",
									3:"负责机器人控制软件设计：轨迹规划、加减速控制、正逆运动学等模块设计和实现",
									4:"系统调试和软件测试"
								},
								positionRequireItems:{
									1:"熟悉基本控制理论，数学功底强，具有独立进行数学建模、分析能力",
									2:"有扎实的C/C++, Matlab编程经验，熟悉常用算法及优化，熟悉linux,Windows系统的开发调试环境以及嵌入式系统的开发",
									3:"有轨迹规划、运动插补、机器人运动学、动力学等方面经验者优先",
									4:"有机器人实际开发和调试经验者优先",
									5:"具备良好的沟通协调能力及团队协作、配合能力",
									6:"能承受较大的工作压力；有较强的责任心； 对工作充满热情，工作态度积极"
								}
							},
						}
    				},
    				en:{
    					aboutAddress:"Nanshan District, Shenzhen, Guangdong, P.R. China",//2F, Building M-3, Ma Que Ling Industrial Zone,
						aboutUs:"About UFACTORY",
						btnContact:"Feedback",
						btnEmail:"Email",
						btnAddress:"Address",
						btnPhone:"Phone",
						feedback:"http://form.mikecrm.com/cesaXd",
						addressURL:"https://goo.gl/maps/ucMXtc37aay",
						historyImg:imagePath+"/img/banner/about2en.png",
						mapImg:imagePath+"/img/banner/ufmap.png",
						topImg:imagePath+"/img/banner/about.png",
						aboutText:{
							1:"Founded in 2013, UFACTORY is a tech start-up that had created the world's first desktop robotic arm, the uArm. UFACTORY has also devoted itself to the development of robotics and artificial intelligence (AI), to allow millions of possibilities happen in one uArm.",
							2:"Based in Shenzhen, UFACTORY benefits from direct access to suppliers, raw materials, and creative talents necessary for long-term creation. Nowadays, the uArm has been sold to over 60 countries around the globe. In the future, we will have branches in Beijing and the U.S.",
							3:"The UFACTORY team is young and dynamic, driven by the mission of bring intelligent robots to people's daily life. The robot is more of human's intellective helper than merely a tool. We spare no effort to fulfill our will of creating 'the smartest robot in the world', and to unleash more possibilities of people's life ahead.",
						},
						aboutHistory:"Our story",
						aboutPosition:"Join us",
						aboutContact:"Conact us",
						positionWork:"Job responsibilities",
						positionRequire:"Job requirements",
						sendEmailText:"Send your resume to",
						positionItems:{
							1:{
								isopen:true,
								positionName:"Vision Algorithm Engineer",
								positionWorkItems:{
									1:"Responsible for visual correlation function algorithm research, validation, implementation, and optimization of embedded development related experience",
									2:"Work with other team members to complete the relevant tests"
								},
								positionRequireItems:{
									1:"Universities computer or bachelor degree or above, major in automation, a solid theoretical foundation",
									2:"Embedded platform algorithm optimization experience is a plus",
									3:"Proficient in using C++/C, be familiar with the target tracking/measurement, 3d reconstruction, SLAM related experience",
									4:"The steadfast, serious and responsible work, compression capability is strong, good communication skills"
								}
							},
							2:{
								isopen:false,
								positionName:"Mechanical Engineer",
								positionWorkItems:{
									1:"Responsible for the mechanical design of new product",
									2:"Responsible for the development and debugging of the prototype, and writing technical documentation",
									3:"Focus on product improvement",
									4:"Responsible for processing structural design issues, and provide technical support"
								},
								positionRequireItems:{
									1:"Bachelordegree or above, majoring in Mechanical Engineering /Product Design or relevant",
									2:"More than 4 years working experience with mechanical design",
									3:"Strong communication skills, Responsibility, Work well under pressure"
								}
							},
							3:{
								isopen:false,
								positionName:"Control Engineer",
								positionWorkItems:{
									1:"Participate in the overall plan of product design,capable in product software design",
									2:"Proficient in using simulation software and verification of motion control and robotics algorithm",
									3:"Responsible for the design of robot control software,i.e. Trajectory planning, acceleration and deceleration control, forward and backward kinematics control",
									4:"Test and verification of systems and software"
								},
								positionRequireItems:{
									1:"Familiar with control theory, strong ability in Math and capable in analytic thinking and model construction",
									2:"Solid C/C++, Matlab experiences, familiar with algorithm and optimization, familiar with linux, windows development and embed systems development",
									3:"Experience with trajectory planning, motion interpolation, robotic kinematics is a plus",
									4:"Practical robotics development experience is a plus",
									5:"Good communication skill and teamwork spirit",
									6:"Nice personality, steadfast and responsible for work, strong compression capability; passionate and positive at work"
								}
							},
    					}

    				}
    			};
    			if(this.$route.params.lang=='en' || this.$route.params.lang=='cn')
	  				this.langData=langText[this.$route.params.lang];
	  			else
	  				this.langData=langText['cn'];
      	},
      	mounted : function(){
      		//console.log(this.$route.params.position)
      		let target = document.getElementById(this.$route.params.position);
			    if (window.scrollTo) {
			        window.scrollTo(0,target.offsetTop);
			    }
      	},
				watch:{
					'$route.params.position':function(){
						let target = document.getElementById(this.$route.params.position);
				    if (window.scrollTo) {
				        window.scrollTo(0,target.offsetTop);
				    }
					}
				},
      	components:{
      		accordion:Accordion,
      		panel:Panel,
			timeline:Timeline
      	},
      	methods:{
      		getQuestion : function(qname){
      			var questions = {
    				shoppingGuide:{
    					a:{
    						qtext:"whatssssss",
    						atext:"anserssss"
    					},
    					b:{
    						qtext:"whatssssssbbbb",
    						atext:"anserssssbbb"
    					}

    				},
    				orders:{
    					a:{
    						qtext:"ooowhatssssss",
    						atext:"oooanserssss"
    					},
    					b:{
    						qtext:"ooowhatssssssbbbb",
    						atext:"oooanserssssbbb"
    					}
    				}

    			};
      			this.showData = questions[qname];
      		}
      	}
    }
</script>
<style  lang="sass" scoped>
$themeOrange:#D95E2E;
.ghost-button{
	display: inline-block;
	color:$themeOrange;
	border:1px solid $themeOrange;
	text-align: center;
	outline: none;
	text-decoration: none;
	background-color: white;
	cursor: pointer;
	font-family: 'Helvetica Neue',"微软雅黑";
	transition: all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
}
.ghost-button:hover,.ghost-button:active{
	background-color: $themeOrange;
	color:white;
	border:1px solid white;
}

.section{
	width: 100%;
	color:#3c3c3c;
	margin-bottom: 6%;
	img{
		width: 100%;
	}
	.about-block{
		margin: 2% 18%;
		.block-intro{
			width: 100%;
			text-align: center;
			.title{
				font-size:25px;
				border-left: 4px solid $themeOrange;
				border-right: 4px solid $themeOrange;
				padding: 0% 2%;
			    display: inline-block;
			    margin: 4%;
			}
			.content{
				padding-bottom:5%;
				a{
					color:#3c3c3c;
				}
				a:hover{
					color:$themeOrange;
					text-decoration: none;
				}
					i{
						padding:0 5px;
					}
				p{
					margin: 1%;
				}
				u{
					color:$themeOrange;
					text-decoration: none;
				}
					.content-box{
						display: flex;
					    width: 30vw;
					    margin: auto;
    					flex-direction: column;
						a{
							display: flex;
							align-items: center;
							span{
								font-size:1vw;
							}
							span:first-child{
								width: 3vw;
							}
						}
					}
			}
		}
		a{
			display: initial;
			color:$themeOrange;
		}
	}
}
.panel-group{
	text-align:left;
	.panel-heading{
		color:$themeOrange ;
	}
	.subtitle{
		color:$themeOrange;
	}
	.subcontent{
		margin-left: 3%;
	}
	li{
		list-style: disc;
		padding: 1%;
	}
}
</style>
