<template>
<div class="page-wrapper">
	<div class="banner-container">
		<carousel :controls="true" :interval="5000">
			<!-- <slider v-if="$route.params.lang=='cn'">
				<a href="https://shop346325081.taobao.com/"><img src="http://cdn.ufactory.cc/img/banner/xmas.jpg" alt="image promo" /></a>
			</slider>
			<slider v-if="$route.params.lang=='en'">
				<a href="http://store.ufactory.cc/"><img src="http://cdn.ufactory.cc/img/banner/double12en.jpg" alt="image promo" /></a>
			</slider>
			v-bind:src="langData.banner2"-->
			<slider>
				<router-link :to="{name:'uarmswift',params:{lang:country}}">
					<img  :src="langData.banner1" />
					<a class="carousel-caption" :href="langData.sliderText"></a>
				</router-link>
			</slider>
			<slider >
				<router-link :to="{name:'uarm1',params:{lang:country}}">
					<img v-bind:src="langData.banner2" />
				</router-link>
			</slider>
			<!-- <div class="carousel-caption" v-link="{name:'uarm1',params:{lang:country}}"></div> -->
		</carousel>
	</div>
	<div v-bind:class="subscribeClass" v-show="countdown">
		<div class="subscribe-text">
			<div class="withcolor"  v-text="langData.subscribe.imgtext"></div>
			<div class="" v-text="langData.subscribe.text"></div>

		</div>
		<div class="subscribe-button">
			<a href="https://igg.me/at/uarmswift"><button class="btn btn-default ghost-button">{{langData.subscribe.buttonText}}</button></a>
		</div>

	</div>
	<div class="bottom-container">
		<div class="card-container">
			<div class="card-block">
				<div class="card-image">

					<embed v-if="country=='cn'" v-bind:src="langData.cardText[1].link" allow-full-screen="true" quality="high" width="480" height="400" align="middle" allow-script-access="always" type="application/x-shockwave-flash"></embed>
					<iframe v-else width="560" height="315" v-bind:src="langData.cardText[1].link" frameborder="0" allowfullscreen></iframe>
					<!-- <a target="_blank" :href="langData.cardText[1].link"><img v-bind:src="langData.cardText[1].image" /></a> -->
				</div>
				<div class="card-text">
					<div class="title" v-html="langData.cardText[1].title"></div>
					<div class="brief">{{langData.cardText[1].content}}</div>
				</div>
			</div>
			<div class="card-block">
				<div class="card-image">
					<embed v-if="country=='cn'" v-bind:src="langData.cardText[2].link" allow-full-screen="true" quality="high" width="480" height="400" align="middle" allow-script-access="always" type="application/x-shockwave-flash"></embed>
					<iframe v-else width="560" height="315" v-bind:src="langData.cardText[2].link" frameborder="0" allowfullscreen></iframe>
					<!-- <a target="_blank" :href="langData.cardText[2].link"><img v-bind:src="langData.cardText[2].image" /></a> -->
				</div>
				<div class="card-text">
					<div class="title" v-html="langData.cardText[2].title"></div>
					<div class="brief">{{langData.cardText[2].content}}</div>
				</div>
			</div>
			<div class="card-block">
				<div class="card-image">
					<embed v-if="country=='cn'" v-bind:src="langData.cardText[3].link" allow-full-screen="true" quality="high" width="480" height="400" align="middle" allow-script-access="always" type="application/x-shockwave-flash"></embed>
					<iframe v-else width="560" height="315" v-bind:src="langData.cardText[3].link" frameborder="0" allowfullscreen></iframe>
					<!-- <a target="_blank" :href="langData.cardText[3].link"><img v-bind:src="langData.cardText[3].image" /></a> -->
				</div>
				<div class="card-text">
					<div class="title" v-html="langData.cardText[3].title"></div>
					<div class="brief">{{langData.cardText[3].content}}</div>
				</div>
			</div>
		</div>

	</div>
	<div>
	<!-- <p>当前路径: {{$route.path}}</p>
	<p>当前路由参数: {{$route.params | json}}</p> -->
	</div>
</div>

</template>
<script>
const imagePath = "http://cdn.ufactory.cc"; // local path is: /src  http://cdn.ufactory.cc
// var Jquery = require('jquery'); Jquery(".info_tittle").hide();
var Carousel = require('vue-strap').carousel;
var Slider = require('vue-strap').slider;
module.exports = {
	props :['countdown'],
	data : function(){
		return {
			country:'cn',
			langData:{},
			gameStart:false,
			subscribeClass:"subscribe-new-container",
			countdownNotEnd:false
		}
	},
	created : function(){
		if(this.$route.params.lang!==undefined){
			this.country = this.$route.params.lang;
		}//console.log("language:"+this.country)
		var langText = {
				cn:{
					breadcrumb:{
						1:"首页",
						2:"商城",
					},
					banner1:imagePath+"/img/home/banner1.jpg",
					banner2:imagePath+"/img/home/banner2.png",
					subscribeLink:"//ufactory.us10.list-manage.com/subscribe/post?u=c644188ef0ea557ffc19e17fb&amp;id=f3cbe4f2d0",
					cardText:{
						1:{
							image:imagePath+"/img/banner/center1.png",
							link:"https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=a0374jzm5hy&auto=0",
							title:"3D打印",
							//content:"“捣蛋机器人女王”Simone Giert用uArm造出了一台早餐机器人，倒牛奶、吃燕麦片，它样样在行！"
						},
						2:{
							image:imagePath+"/img/banner/center2.png",
							link:"https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=j0375wx16rj&auto=0",
							title:"uArm Swift & uArm Swift Pro <br>介绍",
							//content:"全球最大的开源硬件厂商SparkFun利用uArm Metal，别出心裁地创造出这个发牌机器人（DealerBot）"
						},
						3:{
							image:imagePath+"/img/banner/center3.png",
							link:"https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=r0382vrz8r3&auto=0",
							title:"激光雕刻演示",
							//content:"Overwhelmed with Makers from All over the World! UFACTORY Spent an Awesome Time at Maker Faire Bay Area This Weekend!"
						},
					},
					subscribe:{
						text:"现正在Indiegogo火热预售",
						emailPlaceholder:"输入你的邮箱",
						buttonText:"欲购从速",
						imgtext:"uArm Swift Pro即将售罄"
					},
					sliderText: "https://shop346325081.taobao.com/",
				},
				en:{
					breadcrumb:{
						1:"Home",
						2:"Store",
					},
					banner1:imagePath+"/img/home/banner1en.jpg",
					banner2:imagePath+"/img/home/banner2en.png",
					subscribeLink:"//ufactory.us10.list-manage.com/subscribe/post?u=c644188ef0ea557ffc19e17fb&amp;id=3a0c123c99",
					cardText:{
						1:{
							image:imagePath+"/img/banner/center1.png",
							link:"https://www.youtube.com/embed/2K8XEZjmqXg",
							title:"3D Printing Demo <br>",
							//content:"“捣蛋机器人女王”Simone Giert用uArm造出了一台早餐机器人，倒牛奶、吃燕麦片，它样样在行！"
						},
						2:{
							image:imagePath+"/img/banner/center2.png",
							link:"https://www.youtube.com/embed/kzEkjx6Lmfg",
							title:"uArm Swift & uArm Swift Pro <br>Introduction",
							//content:"全球最大的开源硬件厂商SparkFun利用uArm Metal，别出心裁地创造出这个发牌机器人（DealerBot）"
						},
						3:{
							image:imagePath+"/img/banner/center3.png",
							link:"https://www.youtube.com/embed/uowqI6wgeSg",
							title:"Laser Engraving Demo",
							//content:"Overwhelmed with Makers from All over the World! UFACTORY Spent an Awesome Time at Maker Faire Bay Area This Weekend!"
						},
					},
					subscribe:{
						text:"Limitied Pre-Orders are LIVE on Indiegogo",
						emailPlaceholder:"Enter your email",
						buttonText:"Pre-Order Now!",
						imgtext:"uArm Swift Pro is selling out quick."
					},
					sliderText: "http://store.ufactory.cc/",
				}

			};
			if(this.$route.params.lang=='en' || this.$route.params.lang=='cn')
  				this.langData=langText[this.$route.params.lang];
  			else
  				this.langData=langText['cn'];
	},
  	mounted : function(){

  	},
  	// destroyed : function(){
  	// 	clearInterval( this.handle )
  	// }
  	//components:{accordion:require('vue-strap/src/Accordion.vue')},
  	methods:{
  	},
	components:{
		carousel:Carousel,
		slider:Slider
	},
  	route:{
  		canReuse: false, // force to reload data
    	//activate(transition) {},//load data
    	// load your data
  		// data: function (transition) {
       //      transition.next(DataObjectForCurrentRoute);
       //  }
  	}
}
</script>
<style lang="sass" scoped>
$textColor : #3C3C3C;
$themeOrange:#D95E2E;
$newBgColor: #ECECEC;
.page-wrapper{
	width:100%;
	.banner-container img{width:100%;cursor: pointer;}
	.subscribe-container{
		height: 15vw;
		background: #333333;
		color: white;
    	font-size: 0.7rem;
		padding:4vw 30vw;
		text-align: center;
		.subscribe-text .withcolor{
			line-height:1.4rem;
			color:$themeOrange;
			padding-bottom: 2%;
			font-size: 1rem;
		}
		.subscribe-button{
			margin-top: 15px;
		}
		.subscribe-fill{
			padding: 3% 10%;
			input{
				border-radius:0;
				background: #282828;
    		border: 1px solid #828282;
				color:white;
				border-right: none;
			}
				button{
					border-radius: 0px;
				}
		}
	}
	.subscribe-new-container{
		height: 15vw;
		background: #ececec;
		color: #333;
    	font-size: 14px;
		padding:4vw 30vw;
		text-align: center;
		.subscribe-text .withcolor{
			line-height:30px;
			color:$themeOrange;
			padding-bottom: 2%;
			font-size: 18px;
		}
		.subscribe-button{
			margin-top: 15px;
		}
		.subscribe-fill{
			padding: 3% 10%;
			input{
				border-radius:0;
				background: #282828;
    		border: 1px solid #828282;
				color:white;
				border-right: none;
			}
				button{
					border-radius: 0px;
				}
		}
	}
	.bottom-container .card-container {
			margin: 2% 5%;
			.card-block {
				width:30%;
				margin: 1%;
				display: inline-block;
				vertical-align: top;
				border-radius: 2px;
				position: relative;
				box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
				overflow: hidden;
				.card-text{
					margin: 5%;
					white-space: nowrap;
				    overflow-x: hidden;
					.title{
						font-size: 1.12em;
						color: $textColor;
						text-align: center;
						height: 2.24em;
					}
					.brief{
						margin: 3% 0;
						font-size: 14px;
						color:#787878;
					}
				}
			}
			.card-block:hover{
				box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			}
			.card-image{
				overflow: hidden;
				position: relative;
				padding-bottom: 56.25%;
			    margin-left: -1px;
			    margin-right: -1px;
				iframe, object, embed {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			img{
				width:100%;
				-webkit-transition: all 1s ease; /* Safari and Chrome */
		    -moz-transition: all 1s ease; /* Firefox */
		    -ms-transition: all 1s ease; /* IE 9 */
		    -o-transition: all 1s ease; /* Opera */
		    transition: all 1s ease;
			}
			img:hover{
				-webkit-transform:scale(1.1); /* Safari and Chrome */
		    -moz-transform:scale(1.1); /* Firefox */
		    -ms-transform:scale(1.1); /* IE 9 */
		    -o-transform:scale(1.1); /* Opera */
		     transform:scale(1.1);
			}
	}

}
.main_menu{
	background-color: #ccc !important;
}
.ghost-button{
	display: inline-block;
	color:white;
	text-align: center;
	outline: none;
	text-decoration: none;
	background-color: $themeOrange;
	border:1px solid $themeOrange;
	cursor: pointer;
	font-family: 'Helvetica Neue',"微软雅黑";
	transition: all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	border-radius: 0;
}
.ghost-button:hover,.ghost-button:active{
	background-color: #fff;
	color:$themeOrange;
	border:1px solid #fff;
}
	.carousel-caption{
		font-size: 0.4vw;
		padding-bottom: 2vw;
		z-index: 99;
		width: 11vw;
		height: 2vw;
		bottom: 9.5vw;
		left: 44vw;
	}

</style>
