<template>
	<transition mode="out-in">
<div id="app-container">
	<header >
		<div v-show="countDown.show" class="countdown">
			<a href="https://igg.me/at/uarmswift">{{langData.promoText.countDown}}<i class="fa fa-arrow-right" aria-hidden="true"></i> {{langData.promoText.leftcn}} {{countDown.day}} {{langData.promoText.day}} {{countDown.hour}} {{langData.promoText.hour}} {{countDown.minute}} {{langData.promoText.minute}} {{countDown.second}} {{langData.promoText.second}} {{langData.promoText.leften}}
			</a>
		</div>
		<div class="main">

			<div class="main_menu">
				<div class="logo">
					<router-link :to="{name:'app',params:{lang:country}}">
						<img src="/src/img/logo-whole-png.png" />
					</router-link>
				</div>
				<ul>
					<li class="ho hide">
						<router-link :to="{name:'app',params:{lang:country}}">{{langData.navHome}}</router-link>
					</li>
					<li class="ho dropdown" id="product-min">
						<span class="dropbtn">{{langData.navProduct}}</span>
						<div class="dropdown-content">
						    <router-link :to="{name:'uarmswift',params:{lang:country}}">uArm Swift</router-link>
						    <router-link :to="{name:'uarm1',params:{lang:country}}">uArm Metal</router-link>
						 </div>
					</li>
					<li class="ho dropdown" >
						<span class="dropbtn">{{langData.navSupport}}</span>
						<div class="dropdown-content">
						    <router-link :to="{name:'download',params:{lang:country}}">{{langData.navDownload}}</router-link>
						    <router-link :to="{name:'question',params:{lang:country}}">{{langData.navQuestion}}</router-link>
						    <!--<a v-link="{name:'help',params:{lang:country}}">{{langData.navHelp}}</a>-->
						    <!-- <a v-link="{path:'/home/support/help'}">售后服务</a> -->
						  </div>
					</li>
					<li class="ho">
						<!--<a v-link="{name:'store',params:{lang:country}}">{{langData.navStore}}</a>-->
						<a :href="langData.storeLink" target="_blank">{{langData.navStore}}</a>
					</li>
					<li class="ho dropdown">
						<span class="dropbtn">{{langData.navCommunity}}</span>
						<div class="dropdown-content">
						    <a href="https://ufactory.cc/blog/" target="_blank">{{langData.navBlog}}</a>
						    <a href="https://forum.ufactory.cc/" target="_blank">{{langData.navForum}}</a>
						  </div>
					</li>
					<li class="ho hide">
						<router-link :to="{name:'about',params:{lang:country,position:'about'}}">{{langData.navAboutUs}}</router-link>
					</li>

				</ul>
			</div>
			<div class="right-buttons hide">
				<router-link :to="{name:'login',params:{lang:country}}" class="glyphicon glyphicon-user" aria-hidden="true"></router-link>
			</div>
			<div class="shopping-cart hide">

				<router-link :to="{name:'cart',params:{lang:country}}" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></router-link>
				<!-- <img src="/src/img/icon_shoppingcart.png"> -->
				<!-- <span class="badge">3</span> -->

			</div>
		</div>
	</header>
	<div class="main-content">
		<router-view :key="$route.params.lang" v-bind:countdown="countDown.show"></router-view>
	</div>
	<footer>
		<div class="bottom-container">
			<div class="bottom-menu">
				<table>
					<tr v-bind:class="{bolder:bolderhead}">
						<th>{{langData.navProduct}}</th>
						<th>{{langData.navSupport}}</th>
						<th>{{langData.navCommunity}}</th>
						<th>{{langData.navAboutUs}}</th>
						<th>{{langData.subscribeFeed}}</th>
					</tr>
					<tr>
						<td><router-link :to="{name:'uarm1',params:{lang:country}}">uArm Metal</router-link></td>
						<td><router-link :to="{name:'download',params:{lang:country}}">{{langData.navDownload}}</router-link></td>
						<td><a href="https://ufactory.cc/blog/" target="_blank">{{langData.navBlog}}</a></td>
						<td><router-link :to="{name:'about',params:{lang:country,position:'about'}}">{{langData.navAboutUf}}</router-link></td>
						<td>
							<div id="mc_embed_signup" >
								<form :action="langData.subscribeLink" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								    <div id="mc_embed_signup_scroll">
										<div class="mc-field-group input-group">
											<input type="email" v-model="userEmail" :placeholder="langData.emailPlaceholder" name="EMAIL" class="required email form-control" id="mce-EMAIL">
											<span class="input-group-btn">
												<button class="btn btn-default ghost-button" onclick="subscribe.click()"  type="button">{{langData.btnSubscribe}}</button>
											</span>
										</div>
										<input type="submit" id="subscribe" name="subscribe" id="mc-embedded-subscribe" style="display: none;">
										<div id="mce-responses" class="clear">
											<div class="response" id="mce-error-response" style="display:none"></div>
											<div class="response" id="mce-success-response" style="display:none"></div>
										</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
										<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c644188ef0ea557ffc19e17fb_f3cbe4f2d0" tabindex="-1" value=""></div>
										<div class="clear"></div>
								    </div>
								</form>
							</div>
						</td>
					</tr>
					<tr>
						<td><router-link :to="{name:'uarmswift',params:{lang:country}}">uArm Swift</router-link></td>
						<td><router-link :to="{name:'question',params:{lang:country}}">{{langData.navQuestion}}</router-link></td>
						<td><a href="https://forum.ufactory.cc/" target="_blank">{{langData.navForum}}</a></td>
						<td><router-link :to="{name:'about',params:{lang:country,position:'recruit'}}">{{langData.navJoinUs}}</router-link></td>
						<td></td>
					</tr>
					<tr>
						<td>
							<!-- <a v-link="{name:'help',params:{lang:country}}">{{langData.navAccessory}}</a> -->
						</td>
						<td>
							<!--<a v-link="{name:'help',params:{lang:country}}">{{langData.navHelp}}</a>-->
						</td>
						<td></td>
						<td><router-link :to="{name:'about',params:{lang:country,position:'contact'}}">{{langData.navContactUs}}</router-link></td>
						<td></td>
					</tr>
				</table>
			</div>


		</div>
		<div class="social-language">
			<div class="select-language">
				<button class="btn btn-default" @click="languageChange()">

						<i class="fa fa-globe" aria-hidden="true"></i>
						<span >{{this.langData.i18nText}}</span>

				</button>
			</div>
			<div class="social">
				<ul v-if="country=='cn'">
					<li><a target="_Blank" class="uf-icon-weibo" href="http://weibo.com/u/3925641670"></a></li>
					<li><a class="uf-icon-weixin" @click="showModal = true"></a></li>
					<li><a target="_Blank" class="uf-icon-youku" href="http://i.youku.com/i/UMzY4Njk1NTQ2OA=="></a></li>
					<li><a target="_Blank" class="uf-icon-txviedo" href="http://v.qq.com/vplus/6c4792a45937ca8ef893016a79843b0d"></a></li>
				</ul>
				<ul v-if="country=='en'">
					<li><a target="_Blank" class="uf-icon-facebook" href="https://www.facebook.com/Ufactory2013/"></a></li>
					<li><a target="_Blank" class="uf-icon-twitter" href="https://twitter.com/UFACTORY_UF"></a></li>
					<li><a target="_Blank" class="uf-icon-youtube" href="https://www.youtube.com/channel/UCyy5ekYtq35jFtPpY3O_tVA"></a></li>
					<li><a target="_Blank" class="uf-icon-ins" href="https://www.instagram.com/ufactoryofficial/"></a></li>
					<li><a target="_Blank" class="uf-icon-reddit" href="https://www.reddit.com/r/uArm"></a></li>
					<li><a target="_Blank" class="uf-icon-instructable" href="http://www.instructables.com/member/Ufactory/"></a></li>
					<li><a target="_Blank" class="uf-icon-google" href="https://plus.google.com/u/0/116428596770785280177/posts/p/pub"></a></li>
				</ul>
			</div>
		</div>
		<div class="copyright">
			&copy;&nbsp;2017 UFACTORY All Rights Reserved&nbsp;{{langData.copyright}}
		</div>
	</footer>
	<div class="subscribe-ad" v-show="showAd" transition="expand">
		<div class="ad-menu">
			<i class="fa fa-times" aria-hidden="true" @click="adCloseClick()"></i>
		</div>
		<div class="ad-content">
			<div class="ad-text">
				{{langData.subscribeFeed}}
			</div>
			<div class="input-group">
				<input type="email" v-model="userEmail" :placeholder="langData.emailPlaceholder" name="EMAIL" class="form-control">
				<span class="input-group-btn">
					<button class="btn btn-default ghost-button" onclick="subscribe.click()"  type="button">{{langData.btnSubscribe}}</button>
				</span>
			</div>
		</div>
	</div>
	<modal v-if="showModal" @close="showModal = false" class="qr-modal">
	  <div slot="header">请扫描二维码关注公众号</div>
	  <div slot="body">
	  	<img src="/src/img/uarm_weixin_qr.jpg" alt="wechat-qr-code">
	  </div>
	  <div slot="footer" class="">
	  	<button type="button" class="btn btn-default" @click="showModal = false">关闭</button>
	  </div>
	</modal>
	</div>
</transition>
</template>
<script>
    // var $ = require('jquery');
    // console.log($(".copyright").length);
	//var Modal = require('vue-strap').modal;
    //Vue.config.lang;

		let Vue = require('vue');
		let Modal = require('./modal.vue');
    module.exports = {
    	data : function(){
    		return {
				showModal:false,
				showAd:false,
    			country:'cn',
				nextCountry:'en',
    			langData:{
					navHome:"HOME",
					navProduct:"PRODUCT",
					navAccessory:"Accessory",
					navStore:"STORE",
					navSupport:"Support",
					navDownload:"Download",
					navQuestion:"Questions",
					navHelp:"Help",
					navCommunity:"COMMUNITY",
					navBlog:"Blog",
					navForum:"Forum",
					navAboutUs:"About us",
					navAboutUf:"About UFACTORY",
					navJoinUs:"Join us",
					navContactUs:"Contact us",
					subscribeFeed:"Subscribe to Our Newsletter",
					subscribeLink:"//ufactory.us10.list-manage.com/subscribe/post?u=c644188ef0ea557ffc19e17fb&amp;id=3a0c123c99",
					emailPlaceholder:"Your email",
					btnSubscribe:"Join",
					copyright:"",
					storeLink:"http://store.ufactory.cc/",
					promoText:{
						countDown:"uArm Swift is now on Indiegogo! ",
						day:"days",
						hour:"hours",
						minute:"minutes",
						second:"seconds",
						leftcn:"",
						leften:"left"
					}
				},
				countDown:{
					day:0,
					hour:0,
					minute:0,
					second:0,
					show:false,
				},
				userEmail:"",
				bolderhead:false,
    		}
    	},
    	created : function(){
    		if(this.$route.params.lang!==undefined){
    			this.country = this.$route.params.lang;
				this.nextCountry = this.country==='en' ? 'cn':'en';
    		}
			let self = this;
    		//console.log("language:"+this.country)

			// Check browser support
			if (typeof(Storage) !== "undefined") {
			    // Store
				if( localStorage.getItem("showSubcribeAd")===null )
					setTimeout(function(){ self.showAd=true; }, 3000);
			}
    	},
      	mounted : function(){


    			if(this.$route.params.lang=='en' || this.$route.params.lang=='cn')
      				this.langData=this.getLangText(this.$route.params.lang);
      			else
      				this.langData=this.getLangText('cn');
				let self= this;

      	},
      	// destroyed : function(){
      	// 	clearInterval( this.handle )
      	// }
      	//components:{accordion:require('vue-strap/src/Accordion.vue')},
      	methods:{
			adCloseClick:function(){
				this.showAd=false;
				localStorage.setItem("showSubcribeAd", "1");
			},
			languageChange:function(){
				//:to="{name:$route.name,params:{lang:nextCountry}}"
				let tempLang = this.$route.params.lang;
				this.langData = this.getLangText(this.nextCountry);
				this.country = this.nextCountry;
				this.$router.push({ name:this.$route.name, params:{lang:this.nextCountry} }) ;
				// console.log(this.$route.params.lang)
				// console.log(tempLang )
				this.nextCountry = tempLang;
			},
			getLangText :function(lang){
				let langText = {
	    				cn:{
	    					navHome:"首页",
							navProduct:"产品",
							navAccessory:"配件",
							navStore:"商城",
							navSupport:"下载与支持",
							navDownload:"下载",
							navQuestion:"常见问题",
							navHelp:"售后服务",
							navCommunity:"社区",
							navBlog:"博客",
							navForum:"论坛",
							navAboutUs:"关于我们",
							navAboutUf:"关于UFACTORY",
							navJoinUs:"加入我们",
							navContactUs:"联系我们",
							subscribeFeed:"获取我们的最新资讯",
							subscribeLink:"//ufactory.us10.list-manage.com/subscribe/post?u=c644188ef0ea557ffc19e17fb&amp;id=f3cbe4f2d0",
							emailPlaceholder:"输入你的邮箱",
							btnSubscribe:"订阅",
							copyright:"粤ICP备16053329号",
							storeLink:"https://shop346325081.taobao.com/",
							promoText:{
								countDown:"uArm Swift正在Indiegogo众筹！",
								day:"天",
								hour:"小时",
								minute:"分",
								second:"秒",
								leftcn:"剩余",
								leften:""
							},
							i18nText:"English",
							nextLang:"en"
	    				},
	    				en:{
	    					navHome:"HOME",
	    					navProduct:"PRODUCT",
							navAccessory:"Accessory",
							navStore:"STORE",
							navSupport:"SUPPORT",
							navDownload:"Download",
							navQuestion:"Questions",
							navHelp:"Help",
							navCommunity:"COMMUNITY",
							navBlog:"Blog",
							navForum:"Forum",
							navAboutUs:"About us",
							navAboutUf:"About UFACTORY",
							navJoinUs:"Join us",
							navContactUs:"Contact us",
							subscribeFeed:"Subscribe to Our Newsletter",
							subscribeLink:"//ufactory.us10.list-manage.com/subscribe/post?u=c644188ef0ea557ffc19e17fb&amp;id=3a0c123c99",
							emailPlaceholder:"Your email",
							btnSubscribe:"Join",
							copyright:"",
							storeLink:"http://store.ufactory.cc/",
							promoText:{
								countDown:"uArm Swift is now on Indiegogo! ",
								day:"days",
								hour:"hours",
								minute:"minutes",
								second:"seconds",
								leftcn:"",
								leften:"left"
							},
							i18nText:"简体中文",
							nextLang:'cn'
	    				}

	    			};
				return langText[lang];
			}
      	},
		components:{
			modal:Modal
		},
		watch:{
			country: function(){
				if(this.country == 'en')
					this.bolderhead = true;
				else
					this.bolderhead = false;
			}
		},
    	route:{
    		canReuse: false, // force to reload data
      	//activate(transition) {},//load data
      	// load your data
    		// data: function (transition) {
       //      transition.next(DataObjectForCurrentRoute);
       //  }
    	}
    }
</script>
<style lang="sass" scoped>
$maxWidth:960px;
$themeOrange:#D95E2E;
.right-buttons{

    display: flex;
	a{
		line-height:55px;
	}
}
.shopping-cart{
	display: inline-block;
    float: right;
    position: relative;
    padding: 1% 2%;
    font-size: 16px;
    span{cursor: pointer;}
    span:hover{color:$themeOrange;}
}

.ghost-button{
	display: inline-block;
	color:$themeOrange;
	border:1px solid $themeOrange;
	text-align: center;
	outline: none;
	text-decoration: none;
	background-color: white;
	cursor: pointer;
	font-family: 'Helvetica Neue',"微软雅黑";
	transition: all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
}
.ghost-button:hover,.ghost-button:active{
	background-color: $themeOrange;
	color:#fff;
}
#app-container{
    display: flex;
    min-height: 100%;
    flex-direction: column;
}
header {
	.main{
		justify-content:space-between;
		.logo{
			display:inline-flex;
			cursor:pointer;
			img{
				height: 55px;
		    	padding: 10px 0;
			}
		}
		.main_menu > ul{
			display:inline-flex;
		}
	}
	/* Dropdown Button */
	.dropbtn {
	    border: none;
	    cursor: pointer;
	    text-decoration: none;
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
	    position: relative;
	    display: inline-block;
	    white-space: nowrap;
	}
	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
	    display: block;
	    right: 0;
	    left: 0;
	}
	/* Change the background color of the dropdown button when the dropdown content is shown
	.dropdown:hover .dropbtn {
	   border-bottom: 3px #D95E2E solid;
	} */
	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: white;
	    min-width: 100px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    a {
		    color: black;
		    display: block;
		}
		/* Change color of dropdown links on hover */
		a:hover {background-color: #D95E2E;color:#fff;}
	}
}
header.nav-transparent{
	background: transparent;
    position: absolute;
}
.main-content{
	flex:1;
}
footer{	background: #f2f2f2;
}
.bottom-container{
	padding: 2% 15%;
    background: white;
    margin-top: 2px;
	table{
		width: 100%;
		th{
			padding: 0.5vw 0;
			width: 18%;
			font-weight: normal;
			text-transform: uppercase;
			color:#333;
		}
		tr.bolder{
			th{
				font-weight: bolder;
			}
		}

		td{
			padding: 0.1vw 0;
			font-size: 14px;
			color:#777;
			a{
				color:#777;
			}
		}
	}
}
.social-language{
	margin: 2% 13%;
	.select-language{
		width: 50%;
		text-align: left;
		display: inline-block;
	}
	.social{
		width: 49%;
		text-align: right;
		display: inline-block;
		vertical-align: middle;
		ul{
			li{
				display: inline-block;
				cursor: pointer;
				opacity: 0.8;
			}
				li:hover{
					opacity: 1;
				}
		}

	}
}
.modal-body img{width:100%;}
.modal-container {width:40%;text-align: center;}
.modal-footer{text-align:center;}
.subscribe-ad{
	position: fixed;
    bottom: 0;
    right: 0;
    width: 30vw;
    height: 15vw;
	width: 320px;
    height: 140px;
	background-color: white;
    border: 1px solid #ccc;
    border-radius: 0;
    z-index: 19;
    color: $themeOrange;
	.ad-menu{
		text-align:right;
		i{
			cursor:pointer;
			padding: 3px;
			color:#555;
		}
	}
	.ad-content{
	    padding: 5% 10%;
		.ad-text{
			padding-bottom:5%;
		}
	}
}
	/* always present */
	.expand-transition {
	  transition: all .3s ease;
	  padding: 2px;
	  overflow: hidden;
	}
	/* .expand-enter defines the starting state for entering */
	/* .expand-leave defines the ending state for leaving */
	.expand-enter, .expand-leave {
	  height: 0;
	  padding: 0 10px;
	  opacity: 0;
	}
.copyright{
	text-align: center;
	margin: 2%;
}
#mc_embed_signup{
	height:14px;
}
@media (max-width: 700px) {
    header{
    	.nav-transparent{
				background: white;
			}
			li{width: 50%;}
		}
}
	.countdown{
		background: #333;
	    line-height: 35px;
	    color: white;
		a{
			color:white;
		}
		a:hover{
			color:$themeOrange;
			text-decoration:none;
		}
	}
</style>
