<template lang="html">
<div class="login-container">
    <div >
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
          <tabs v-model="active" v-if="showDiv.login">
            <tab header="Login">
              <form-validator @valid="valid.user = true" @invalid="valid.user = false">
                <bs-input label="Email" type="email" required></bs-input>
                <bs-input label="Password" type="password" required></bs-input>
              </form-validator>
              <button type="button" class="btn btn-default" @click="showDiv.login = false">Forget Password</button>
              <button type="button" class="btn btn-primary" :disabled="!valid.user" @click="active = 1">Login</button>
            </tab>
            <tab header="Register">
              <form-validator @valid="valid.register = true"  @invalid="valid.register = false">
                <bs-input v-model="addUser.email" label="Email" type="email" required></bs-input>
                <bs-input v-model="addUser.password" label="Password" type="password" required></bs-input>
              </form-validator>
              <button type="button" class="btn btn-primary" :disabled="!valid.register" @click="registerClick">Register</button>
            </tab>
          </tabs>
          <div v-else class="reset-password">
              <form-validator @valid="valid.reset = true" @invalid="valid.reset = false">
                <bs-input label="Email" type="email" required></bs-input>

                <button type="button" class="btn btn-default" @click="showDiv.login = true">Back</button>
                <button type="button" class="btn btn-primary" :disabled="!valid.reset" @click="resetPassword()">Set New Password</button>
              </form-validator>
          </div>
        </div>
    </div>

</div>
</template>

<script>
const FormValidator = require("vue-strap").formValidator,
    Tabs = require("vue-strap").tabs,
    Tab = require("vue-strap").tab,
    BsInput = require("vue-strap").input,
    Vselect = require("vue-strap").select;

const AV = require('leancloud-storage'),
    APP_ID = 'upOm10bcAfWyThk0y5lbu4F2-gzGzoHsz',
    APP_KEY = 'MVoHGlcC3sB6yjS2L71F7TmK';
AV.init({ appId: APP_ID, appKey: APP_KEY });

module.exports = {
    data: function(){
        return {
            valid:{login:"",register:"",reset:"",},
            active:0,
            addUser:{
                email:"",
                password:""
            },
            showDiv:{
                login:true
            }
        }
    },
    methods:{
        loginClick :function(){
            console.log("handle login")
        },
        registerClick:function(){
            console.log("handle login")
            let user = new AV.User();
            user.setUsername(this.addUser.email);
            user.setPassword(this.addUser.password);
            user.setEmail(this.addUser.email);
            user.signUp().then(function (loginedUser) {
                 console.log(loginedUser);
            }, function (error) {
            });
        },
        resetPassword: function(userEmail){
            AV.User.requestPasswordReset(userEmail).then(function(success){

            },function(error){

            });
        }
    },
    components:{
        "form-validator":FormValidator,
        tabs:Tabs,
        tab:Tab,
        "bs-input":BsInput,
        "v-select":Vselect

    }
}
</script>

<style lang="sass" scoped>
    .login-container{
        padding: 5% 0;
        & > div{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
</style>
