<template>
<div >

    <ol class="breadcrumb">
      <li class="breadcrumb-item" ><router-link :to="{name:'app',params:{lang:country}}">{{langData.breadcrumb[1]}}</router-link></li>
      <li class="breadcrumb-item active">{{langData.breadcrumb[2]}}</li>
    </ol>
    <div class="page-wrapper">
        <div class="question-wrap">
        	<div class="side-nav">
        		<ul class="nav-list">
        			<li v-on:click="getQuestion('1')" v-bind:class="{active:tabActive['1']}">{{langData.tabText[1]}}</li>
        			<li v-on:click="getQuestion('2')" v-bind:class="{active:tabActive['2']}">{{langData.tabText[2]}}</li>
        			<li v-on:click="getQuestion('3')" v-bind:class="{active:tabActive['3']}">{{langData.tabText[3]}}</li>
        			<li v-on:click="getQuestion('4')" v-bind:class="{active:tabActive['4']}">{{langData.tabText[4]}}</li>
        			<li v-on:click="getQuestion('5')" v-bind:class="{active:tabActive['5']}">{{langData.tabText[5]}}</li>
        		</ul>
            <div class="text-center h1">
              <a :href="langData.feedback" target="_blank"><button class="btn ghost-button">{{langData.btnContact}}</button></a>
            </div>
        	</div>
        	<div class="question-anwser">
        		<ul>
        			<li class="anwser-box" v-for="item in showData">
        				<div class="question-text">{{item.qtext}}</div>
        				<div class="anwser-text" v-html="item.atext"></div>
        			</li>
        		</ul>

        	</div>
        </div>
    </div>
</div>
</template>

<script>
	module.exports = {
    	data : function(){
    		return {
    			country:'cn',
				langData:{},
    			showData:{},
				tabActive:{
					1:true,
					2:false,
					3:false,
					4:false,
					5:false
				}
    		}
    	},
        mounted:function(){
            window.scrollTo(0, 0)
        },
      	// ready : function(){
      	// 	var _this = this;
       //    	console.log(11)
      	// 	this.handle = setInterval(function(){
      	// 		_this.count++;
      	// 	},1e3 );
      	// },
      	// destroyed : function(){
      	// 	clearInterval( this.handle )
      	// }
      	created : function(){
      		var langText = {
      			cn:{
      				breadcrumb:{
						1:"首页",
						2:"常见问题"
					},
          btnContact:"更多问题",
          feedback:"http://form.mikecrm.com/K7pQsf",
					tabText:{
						1:"购买支付和订单",
						2:"售后及维修服务",
						3:"uArm Metal使用指南",
						4:"uArm Metal常见问题",
						5:"合作咨询",
					},
      			1:{
    					1:{
    						qtext:"有哪些购买渠道？",
    						atext:"<ul ><li >通过官网商城购买。</li><li >关注官方公众号：UFACTORY，通过微店购买。</li><li >与我们联系，通过银行账户转账购买。</li></ul>"
    					},
    					2:{
    						qtext:"物流配送政策？",
    						atext:"单笔订单购买超过1000元默认顺丰快递包邮（偏远地区除外），未满1000元的订单需自付邮费。如需发票请备注发票抬头或者联系微店客服。如需更换快递公司请联系客服。"
    					},
    					3:{
    						qtext:"配件可以单独购买吗？",
    						atext:"已购买机械臂的用户方可单独购买配件，我们还将审核您单独购买配件的用途，具体请在订单中备注购买配件的用途。"
    					},
    					4:{
    						qtext:"提供哪种类型的发票？",
    						atext:"提供普通增值税发票。"
    					},
    					5:{
    						qtext:"如何支付订单？",
    						atext:"请在微店购买支付页面支付，支持微信支付和银行卡支付。"
    					},
    					6:{
    						qtext:"如何修改和取消订单？",
    						atext:"请在购买渠道自身的后台修改或取消订单。"
    					},

    				},
    				2:{
    					1:{
    						qtext:"售后服务流程",
    						atext:"请提交客户反馈表单反馈您的问题，我们会在5个工作日内与您联系，如有需要我们会与您多次沟通定位和解决您的问题。"
    					},
    					2:{
    						qtext:"售后维修流程",
    						atext:"售后人员已经与您协商确定将产品寄回厂家维修（未经协商寄回的机械臂我们将拒收）； 在收到您的产品之后，售后技术部门会进行返修产品检测，评估维修费用；售后人员反馈检测到的问题，给您发送当次维修的费用清单，在收到维修清单后，请您将维修款项汇入至指定银行账户，如有异议请在2个工作日内提出。产品完成维修后，售后人员再次与您确认收货地址等信息，维修款项默认不开发票，如需发票请说明。"
    					},
    					3:{
    						qtext:"免费维修和付费维修",
    						atext:"我们提供7天内免费换货服务（UFACTORY承担来回运费），三个月内包修服务（UFACTORY承担更换零件费用、维修工时费用、来回运费），一年内保修服务（UFACTORY承担维修工时费用、来回运费，用户承担零件更换费用），付费维修服务（购买产品超过一年，UFACTORY不承担以上任何费用）。"
    					}
    				},
    				3:{
    					1:{
    						qtext:"一套标准的uArm Metal机械臂套装包含哪些部件？",
    						atext:"机械臂主体*1，支撑脚架*4，脚架螺丝*8，气泵*1，气泵螺丝*2，AC电源盒*1，电源线*1，传输数据USB线*1，吸头*1，底部吸盘*4，螺丝刀*1。"
    					},
    					2:{
    						qtext:"使用机械臂需要的基本软件环境？",
    						atext:"<ul ><li>下载安装uArm助手，集成了底层驱动安装、固件更新及校正程序。</li><li >下载安装uClient客户端，自动安装Java底层环境。</li></ul>"
    					},
    					3:{
    						qtext:"怎样用控制机械臂？",
    						atext:"<ul><li>通过uClient客户端控制；</li><li>通过Python编程控制；</li><li>通过Arduino编程控制；</li><li>通过ROS平台控制；</li></ul>"
    					},
    					4:{
    						qtext:"机械臂如何维护和保养？",
    						atext:"机械臂主板为易损坏部件，请定期清理机械臂主板上的粉尘及污渍；机械臂舵机提供有限的扭力，请在有机械臂有效负载范围内使用机械臂（有效负载500g）；请确保机械臂有充足的运动范围（机械臂的活动范围请参考——机械臂活动范围）；请使用官方标配的电源设备，否则容易导致主板或舵机烧毁。"
    					}
    				},
    				4:{
    					1:{
    						qtext:"与机械臂相关的软件下载链接（针对机械臂二次开发）",
    						atext:"<table class='table'><tr> <td>arduino IDE</td><td><a class='linktext' href='https://www.arduino.cc/en/Main/Software'>https://www.arduino.cc/en/Main/Software</a> </td></tr><tr><td>arduino API</td><td><a class='linktext' href='http://uarm-developer.github.io/UArmForArduino/index.html'>http://uarm-developer.github.io/UArmForArduino/index.html</a> </td></tr><tr><td>Python API</td><td><a class='linktext' href='http://pyuarm.readthedocs.io/en/latest/'>http://pyuarm.readthedocs.io/en/latest/</a> </td></tr><tr><td>Pyuarm开发包</td><td><a class='linktext' href='https://pypi.python.org/pypi/pyuarm'>https://pypi.python.org/pypi/pyuarm</a> </td></tr><tr><td>通讯协议</td><td><a class='linktext' href='https://github.com/uArm-Developer/UArmForArduino/blob/master/PROTOCOL.md'>https://github.com/uArm-Developer/UArmForArduino/blob/master/PROTOCOL.md</a> </td></tr><tr><td>配件leap motion</td><td><a class='linktext' href='https://www.leapmotion.com/setup'>https://www.leapmotion.com/setup</a></td> </tr><tr><td>Arduino UNO板介绍</td><td><a class='linktext' href='https://www.arduino.cc/en/Main/ArduinoBoardUno?setlang=cn'>https://www.arduino.cc/en/Main/ArduinoBoardUno?setlang=cn</a> </td></tr></table>"
    					},
    					2:{
    						qtext:"uArm Metal机械臂3D结构图或者CAD图纸",
    						atext:"请参考以下链接：<a class='linktext' href='https://grabcad.com/library/uarm-metal-1'>https://grabcad.com/library/uarm-metal-1</a>"
    					},
    					3:{
    						qtext:"uArm Metal电动夹具怎么使用？",
    						atext:"<ul><li>电动夹具无法通过uClient直接控制；</li><li>电动夹具可通过编程控制，具体请参考《开发者指南》。</li></ul>"
    					},
    					4:{
    						qtext:"如何校正机械臂？",
    						atext:"打开uArm助手，选择对应端口，点击重新校正。（2016年4月份之后购买机械臂的用户严禁自行校正，否则可能产生严重后果。）"
    					},
    					6:{
    						qtext:"蓝牙连接模式下无法将framware刷入机械臂",
    						atext:"蓝牙连接模式下，PC与机械臂只可以实时数据传输，PC端无法将framware固件刷入机械臂，如需要刷固件，请使用USB连接线；注：蓝牙连接下手机无法通过蓝牙控制机械臂，官方目前不支持移动端软件控制机械臂。"
    					},
    					7:{
    						qtext:"机械臂是2016年以前购买的，应不应该刷入最新的framware固件？",
    						atext:"由于最新的固件和16年之前的校正程序有不兼容的部分，用户在刷入最新固件后可能会导致不能正常控制机械臂的情况，请参考（第4点：用户自行校正机械臂的教程）自行完成机械臂的校正，完成之后即可正常使用。"
    					}
    				},
    				5:{
    					1:{
    						qtext:"投资咨询",
    						atext:"投资者咨询请<a class='linktext' href='http://form.mikecrm.com/K7pQsf'>填写表单</a>，我们会在提交后5个工作日内回复，谢谢。"
    					},
    					2:{
    						qtext:"代理经销商咨询",
    						atext:"代理和经销商咨询请<a class='linktext' href='http://form.mikecrm.com/K7pQsf'>填写表单</a>，我们会在提交后5个工作日内回复，谢谢。"
    					},
    				}
      			},
      			en:{
      				breadcrumb:{
						1:"Home",
						2:"FAQ"
					},
          btnContact:"Ask Questions",
          feedback:"http://form.mikecrm.com/cesaXd",
					tabText:{
						1:"Purchase & Payment",
						2:"After-sales & Maintenance Services",
						3:"uArm Metal Basics",
						4:"For uArm Metal Developers",
						5:"Cooperative Consultation",
					},
      			1:{
    					1:{
    						qtext:"From where can I buy uArm? ",
    						atext:"Please visit our online store: <a class='linktext' href='http://store.ufactory.cc/'>http://store.ufactory.cc/</a>"
    					},
    					2:{
    						qtext:"What's the logistics and distribution policy?",
    						atext:"Shipping Time: Items will be shipped out within two days of order confirmation (if the item is out of stock, we will make a notice at the product page.) Delivery Company and fees: For uArm Metal we usually use DHL/Feded/UPS. For the accessories (shield, gripper, universal holder, etc) we usually use Global Postal."
    					},
    					3:{
    						qtext:"Can I purchase the accessories separately?",
    						atext:"You can purchase accessories separately, please note the use of accessories in the order ."
    					},
    					4:{
    						qtext:"Do you provide invoices?",
    						atext:"Sorry we do not provide invoices for oversea orders."
    					},
    					5:{
    						qtext:"How can I pay for the order?",
    						atext:"Please pay through paypal."
    					},
    					6:{
    						qtext:"How can I modify and cancel the order?",
    						atext:"Please modify or cancel the order in purchase channel itself."
    					},

    				},
    				2:{
    					1:{
    						qtext:"How can I reach the after-sales team?",
    						atext:"Please submit your questions in <a class='linktext' href='http://form.mikecrm.com/cesaXd'>customer service system</a>"
    					},
    					2:{
    						qtext:"Can I get my product repaired or replaced?",
    						atext:"If your uArm is damaged, we will examine the problematic part of your uArm and deliver the relative accessory to you. And you can replace the damaged accessory. "
    					}
    				},
    				3:{
    					1:{
    						qtext:"What are the components of a standard uArm Metal package?",
    						atext:"uArm Metal main body *1, uArm Metal Holders *4 (+ Screw *8), Pump *1 (+ Screw *2), AC power box *1, Power line *1, USB line *1, Suction head *1, Bottom chuck *4, Screwdriver *1"
    					},
    					2:{
    						qtext:"What is the basic software environment needed for manipulating uArm Metal?",
    						atext:"<ul><li>Download and install the uArm-assistant, the integration of the driver installation, firmware update and re-calibration.</li><li>Download and install the uClient client, automatic installatDion of the underlying environment Java.</li></ul>"
    					},
    					3:{
    						qtext:"How to use uClient to control the uArm Metal?",
    						atext:"<ul><li>through the uClient client control;</li><li>through the Python programming control;</li><li>through the Arduino programming control;</li><li>through the ROS platform control;</li></ul>"
    					},
    					4:{
    						qtext:"How to maintain and protect the uArm Metal?",
    						atext:"Please regularly clean up the dust on the main board; Please don’t let uArm pick up things that are heavier than its payload (500g); Please leave enough space for uArm to move; Please use the charger provided to power on your uArm. "
    					},
    					5:{
    						qtext:"How to upgrade firmware?",
    						atext:"Open uArm-assistant, select the corresponding port, click on the upgrade firmware."
    					}
    				},
    				4:{
    					1:{
    						qtext:"Related software download links for further development of uArm:",
                            atext:"<table class='table'><tr> <td>arduino IDE</td><td><a class='linktext' href='https://www.arduino.cc/en/Main/Software'>https://www.arduino.cc/en/Main/Software</a></td></tr><tr><td>arduino API</td><td><a class='linktext' href='http://uarm-developer.github.io/UArmForArduino/index.html'>http://uarm-developer.github.io/UArmForArduino/index.html</a> </td></tr><tr><td>Python API</td><td><a class='linktext' href='http://pyuarm.readthedocs.io/en/latest/'>http://pyuarm.readthedocs.io/en/latest/</a> </td></tr><tr><td>Pyuarmdevelopment kit</td><td><a class='linktext' href='https://pypi.python.org/pypi/pyuarm'>https://pypi.python.org/pypi/pyuarm</a></td></tr><tr><td>Communication protocol</td><td><a class='linktext' href='https://github.com/uArm-Developer/UArmForArduino/blob/master/PROTOCOL.md'>https://github.com/uArm-Developer/UArmForArduino/blob/master/PROTOCOL.md</a> </td></tr><tr><td>leap motion</td><td><a class='linktext' href='https://www.leapmotion.com/setup'>https://www.leapmotion.com/setup</a></td> </tr><tr><td>Arduino UNO introduction</td><td><a class='linktext' href='https://www.arduino.cc/en/Main/ArduinoBoardUno?setlang=cn'>https://www.arduino.cc/en/Main/ArduinoBoardUno?setlang=cn</a> </td></tr><table>"
    					},
    					2:{
    						qtext:"uArm Metal 3D structure or CAD drawings",
    						atext:"<a class='linktext' href='https://grabcad.com/library/uarm-metal-1'>https://grabcad.com/library/uarm-metal-1</a>"
    					},
    					3:{
    						qtext:"How to use the uArm Metal Bluetooth module?",
    						atext:"Please ensure that the firmware is upgraded to the latest version. Please connect Bluetooth module to the correct port of uArm board (according to the board specifications above 5th). While connected, the bluetooth module will flicker with blue lights. Please connect another Bluetooth module to your PC. If the two Bluetooth modules match successfully，the blue light is always on. Now you can start uClient to connect the uArm. Currently, the uArm Metal cannot be controlled via mobile phone with Bluetooth module. "
    					},
    					4:{
    						qtext:"How to control the uArm metallic gripper？",
    						atext:"Currently, uArm metallic gripper can only be controlled via uArm Command Line Tools. Please finish uArm CLI (Command Line Installation) first: <a class='linktext' href='http://docs.ufactory.cc/cli/'>http://docs.ufactory.cc/cli/</a>.  Now you can control the gripper through the uarm-miniterm: <a class='linktext' href='http://docs.ufactory.cc/cli/#uarm-miniterm'>http://docs.ufactory.cc/cli/#uarm-miniterm</a>"
    					},
    					5:{
    						qtext:"How to calibrate uArm Metal？（I purchase the uArm after April 2016）",
    						atext:"If you purchase the uArm after April 2016, please DONNOT calibrate the uArm by yourself if not necessary. Frequent calibration may cause damage to uArm. If you have to calibrate, please follow the following steps: Open uArm-assistant, select the corresponding port, click on the re-calibration."
    					},
    					7:{
    						qtext:"The uArm Metal is purchased before 2016, Could be Upgraded into the latest framware?",
    						atext:"The latest firmware is not compatible with the previous uArm Metal, the user may not normally control the uArm after upgrade the latest firmware, If you have done，please refer to (9th: 'How to calibrate uArm Metal？'') to complete the calibration. If still with trouble, please <a class='linktext' href='http://form.mikecrm.com/cesaXd'>ask us questions</a>"
    					}
    				},
    				5:{
    					1:{
    						qtext:"investment advisory",
    						atext:"Investors Advisory please <a class='linktext' href='http://form.mikecrm.com/cesaXd'>click</a>, fill in the form and submitted, we will reply within 5 working days, thank you."
    					},
    					2:{
    						qtext:"agent/dealer Advisory",
    						atext:"Investors Advisory please <a class='linktext' href='http://form.mikecrm.com/cesaXd'>click</a>, fill in the form and submitted, we will reply within 5 working days, thank you."
    					},
    				}
      			}
      		}
      		if(this.$route.params.lang=='en' || this.$route.params.lang=='cn')
  				this.langData=langText[this.$route.params.lang];
  			else
  				this.langData=langText['cn'];
  			this.showData = this.langData[1];
      	},
      	methods:{
      		getQuestion : function(qname){
				  for(var i=1; i<6;i++){this.tabActive[i.toString()]=false;}
				  //this.tabActive[1]=false;
				  this.tabActive[qname]=true;
      			this.showData = this.langData[qname];
      		}
      	}
    }
</script>
<style lang="sass" scoped>
$themeOrange:#D95E2E;
.ghost-button{
	display: inline-block;
	color:$themeOrange;
	border:1px solid $themeOrange;
	text-align: center;
	outline: none;
	text-decoration: none;
	background-color: white;
	cursor: pointer;
	font-family: 'Helvetica Neue',"微软雅黑";
	transition: all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
}
.ghost-button:hover,.ghost-button:active{
	background-color: $themeOrange;
	color:white;
	border:1px solid white;
}

.page-wrapper{
	background-color: #f8f8f8;
	width: 100%;
	text-decoration: left;
	display: inline-block;
	padding:5%;}
.question-wrap{
	padding: 0 5%;
	.side-nav{
		display: inline-block;
		width: 20%;
		margin: 0 0 0 2%;
		min-height: 500px;
		background-color: #fff;
		box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
		.nav-list{
			margin-top: 10%;
			li{
				padding: 7% 14%;
				cursor: pointer;
        position: relative;
			}
			li:hover,li:focus,li.active{
				background-color:#fafafa;
				border-left: 2px solid $themeOrange;
			}
		}
	}
	.question-anwser{
		vertical-align: top;
		display: inline-block;
		width: 70%;
		margin: 0 2%;
		padding: 3% 5%;
		min-height: 500px;
		background-color: #fff;
		box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
		li{
			list-style: decimal;
			padding: 2%;
			.anwser-text{
				color:$themeOrange;
        li{
          list-style-type:disc;
        }
				.linktext{
					display: inline !important;
					color: $themeOrange;
					text-decoration: underline;
				}
                a{
                    color:$themeOrange;
                }
			}
		}
		li:hover{
			background-color:#fafafa;
		}
	}
}
</style>
