<template>
<div >
    <ol class="breadcrumb">
      <li class="breadcrumb-item" ><router-link :to="{name:'app',params:{lang:country}}">{{langData.breadcrumb[1]}}</router-link></li>
      <li class="breadcrumb-item active">{{langData.breadcrumb[2]}}</li>
    </ol>
    <!-- <i v-if="osName=='mac'" class="fa fa-apple"></i>
    <i v-else-if="osName=='windows'" class="fa fa-windows"></i>
    <i v-else-if="osName=='linux'" class="fa fa-linux"></i> -->
    <div class="page-wrapper">
		<div class="support-wrap panel">
			<div class="panel-heading">{{remoteData.software.title}}</div>
			<div class="panel-body software">
                <tabs v-model="osIndex" nav-style="tabs" justified>
                    <tab :header="index" v-for="(value,index) in remoteData.software.platform">
                      <accordion :one-at-atime="false" type="primary">
                        <panel header="uArm Swift & uArm Swift Pro" is-open type="primary">
                          <div class="item-wrap"  v-for="item in value.swift">
                              <a v-for="ver in item.versionlist" :href="ver.link">
                                  <tooltip v-if="ver.intro!=undefined" effect="scale" placement="bottom">
                                    <p slot="content">{{ver.intro}}</p>
                                    <button class="ghost-button">{{item.name}}<span class="glyphicon glyphicon-download-alt"></span></button>
                                  </tooltip>
                                  <button v-else class="ghost-button">{{item.name}}<span class="glyphicon glyphicon-download-alt"></span></button>
                                </a>
                          </div>
                        </panel>
                        <panel header="uArm Metal" is-open type="primary">
                          <div class="item-wrap"  v-for="item in value.metal">
                              <a v-for="ver in item.versionlist" :href="ver.link">
                                  <tooltip v-if="ver.intro!=undefined" effect="scale" placement="bottom">
                                    <p slot="content">{{ver.intro}}</p>
                                    <button class="ghost-button">{{item.name}}<span class="glyphicon glyphicon-download-alt"></span></button>
                                  </tooltip>
                                  <button v-else class="ghost-button">{{item.name}}<span class="glyphicon glyphicon-download-alt"></span></button>
                                </a>
                          </div>
                        </panel>
                      </accordion>

                    </tab>
                </tabs>
			</div>
		</div>
		<div class="support-wrap panel">
			<div class="panel-heading">{{remoteData.document.title}}</div>
			<div class="panel-body userguide">
        <accordion :one-at-atime="false" type="primary">
          <panel header="uArm Swift & uArm Swift Pro" is-open type="primary">
            <a class="item-wrap" v-for="item in remoteData.document.swiftlist" :href="item.link">
                      <tooltip v-if="item.intro!=undefined" effect="scale" placement="top">
                        <p slot="content">{{item.intro}}</p>
                        <div class="ghost-button"><i class="fa fa-book" aria-hidden="true"></i>{{item.name}}</div>
                      </tooltip>
                      <div v-else class="ghost-button"><i class="fa fa-book" aria-hidden="true"></i>{{item.name}}</div>
                    </a>
          </panel>
          <panel header="uArm Metal" is-open type="primary">
            <a class="item-wrap" v-for="item in remoteData.document.metallist" :href="item.link">
                      <tooltip v-if="item.intro!=undefined" effect="scale" placement="top">
                        <p slot="content">{{item.intro}}</p>
                        <div class="ghost-button"><i class="fa fa-book" aria-hidden="true"></i>{{item.name}}</div>
                      </tooltip>
                      <div v-else class="ghost-button"><i class="fa fa-book" aria-hidden="true"></i>{{item.name}}</div>
                    </a>
          </panel>
        </accordion>
			</div>
		</div>
    </div>
</div>
</template>

<script>
//var Modal = require('vue-strap').modal;
const ToolTip = require('vue-strap').tooltip;
const Tabs = require('vue-strap').tabs;//require('./modal.vue'),
const Tab = require('vue-strap').tab;//require('./modal.vue'),
const accordion = require('vue-strap').accordion;
const panel = require('vue-strap').panel;
const supportData = require('../json/supports.json');
module.exports = {
	data : function(){
		return {
			country:'cn',
			langData:{},
			remoteData:{},
      swiftLink:{},
			osIndex:0,
		}
	},
	created : function(){
		if(navigator.platform.indexOf('Mac')>-1)
			this.osIndex=1;
		else if(navigator.platform.indexOf('Win')>-1)
			this.osIndex=0;
		else if(navigator.platform.indexOf('Linux')>-1)
			this.osIndex=2;
		var langText = {
				cn:{
					breadcrumb:{
						1:"首页",
						2:"下载"
					},
					userguide:{
						title:"文档和指南",
						itemName:{
							1:"uArm入门指南",
							2:"uArm开发者指南",
						},
						fileLink:{
							2:"http://download.ufactory.cc/docs/cn/uArm_Metal_Detail_Info&Specifications_cn.pdf",
							1:"http://download.ufactory.cc/docs/cn/uArm_Metal_Getting_Started_Guide_cn_2016.06.pdf",
						}
					},
					software:{
						title:"软件",
						bottomText:"其他平台下载",
						itemName:{
							1:"驱动",
							2:"uClient客户端",
							3:"固件",
						},
						platform:{
							linux:{
								name:"Linux",
								links:{
									2:"http://download.ufactory.cc/tools/linux/uclient_linux.zip",
									3:"http://download.ufactory.cc/tools/linux/firmware_helper_linux.tar.gz",
								}

							},
							mac:{
								name:"MacOS",
								links:{
									2:"http://download.ufactory.cc/tools/macosx/uclient_macosx.zip",
									3:"http://download.ufactory.cc/tools/macosx/firmware_helper_macosx.zip",
								}

							},
							windows:{
								name:"Windows",
								links:{
									1:"http://download.ufactory.cc/tools/windows/driver.zip",
									2:"http://download.ufactory.cc/tools/windows/uclient_windows.zip",
									3:"http://download.ufactory.cc/tools/windows/firmware_helper_windows.zip",
								}

							},
						}
					}

				},
				en:{
					breadcrumb:{
						1:"Home",
						2:"Download"
					},
					userguide:{
						title:"User guide",
						itemName:{
							1:"Getting Started with uArm",
							2:"uArm Developer Guide",
						},
						fileLink:{
							2:"http://download.ufactory.cc/docs/en/uArm_Metal_Detail_Info&Specifications_en.pdf",
							1:"http://download.ufactory.cc/docs/en/uArm_Metal_Getting_Started_Guide_en_2016.06.pdf",
						}
					},
					software:{
						title:"Software",
						bottomText:"For another platform",
						itemName:{
							1:"Drivers",
							2:"uClient",
							3:"Firmware",
						},
						platform:{
							linux:{
								0:"Linux",
								1:"",
								2:"http://download.ufactory.cc/tools/linux/uclient_linux.zip",
								3:"http://download.ufactory.cc/tools/linux/firmware_helper_linux.tar.gz",
							},
							mac:{
								0:"MacOS",
								1:"",
								2:"http://download.ufactory.cc/tools/macosx/uclient_macosx.zip",
								3:"http://download.ufactory.cc/tools/macosx/firmware_helper_macosx.zip",
							},
							windows:{
								0:"Windows",
								1:"http://download.ufactory.cc/tools/windows/driver.zip",
								2:"http://download.ufactory.cc/tools/windows/uclient_windows.zip",
								3:"http://download.ufactory.cc/tools/windows/firmware_helper_windows.zip",
							},
						},
					}
				}

			};
			if(this.$route.params.lang==='en' || this.$route.params.lang==='cn'){
				this.country = this.$route.params.lang;
  				this.langData=langText[this.$route.params.lang];
  				//this.remoteData=JSON.parse('../json/version-info2.json')[this.$route.params.lang]
  				this.fetchData(this.$route.params.lang);
                console.log(this.$route.params.lang)
			}
  			else
  				this.langData=langText['cn'];

  			//this.langData.software.autoPlatform = this.langData.software.platform[osName];

		// if(this.$route.params.lang!==undefined){}
		// console.log("platform:"+this.langData.software.platform[osName][1])
		// console.log("autoPlatform:"+this.langData.software.autoPlatform[1])
	},
  	mounted : function(){
  	},
  	// destroyed : function(){
  	// 	clearInterval( this.handle )
  	// }
  	//components:{accordion:require('vue-strap/src/Accordion.vue')},
  	methods:{
  		fetchData:function(country){
        this.remoteData= supportData[country];
  			// let xhr=new XMLHttpRequest();
  			// let self=this;
  			// xhr.open('GET',"http://cdn.ufactory.cc/json/supports.json");
        // //../src/json/version-info2.json
        // //http://cdn.ufactory.cc/json/version-info2.json
  			// xhr.onload=function(){
        //   let proUpdates = JSON.parse(xhr.responseText);
  			// 	self.remoteData.software.platform.Windows.swift[3].versionlist.version.link =
  			// 	console.log(self.remoteData)
  			// }
  			// xhr.send();

        // let xhr2=new XMLHttpRequest();
  			// xhr2.open('GET',"http://192.168.31.185/releases/studio/updates.json");
  			// xhr2.onload=function(){
  			// 	self.swiftLink = JSON.parse(xhr2.responseText);
        //   console.log(self.remoteData,self.swiftLink);
        //   self.remoteData.software.platform.Windows.swift[2].versionlist.version.link = self.swiftLink['win32-x64-prod'].install;
        //   self.remoteData.software.platform.Mac.swift[2].versionlist.version.link = self.swiftLink['darwin-x64-prod'].install;
        //   //self.remoteData.software.platform.Linux.swift[2].versionlist.version.link = self.swiftLink['win32-x64-prod'].install;
  			// }
  			// xhr2.send()
  		},
      toggleModal:function(){
        this.showModal = !this.showModal;
      }
  	},
  	components:{
		tabs:Tabs,
    tab:Tab,
    tooltip:ToolTip,
    accordion,
    panel,
	},
  	route:{
  		canReuse: false, // force to reload data
    	//activate(transition) {},//load data
    	// load your data
  		// data: function (transition) {
       //      transition.next(DataObjectForCurrentRoute);
       //  }
  	}
}
</script>
<style  lang="sass" scoped>
$themeOrange:#D95E2E;

.ghost-button{
	display: inline-block;
	padding: 5px;
	color:$themeOrange;
	border:1px solid $themeOrange;
	text-align: center;
	outline: none;
	text-decoration: none;
	background-color: white;
	cursor: pointer;
}
.ghost-button:hover,.ghost-button:active{
	background-color: $themeOrange;
	color:#fff;
}
.breadcrumb{
	margin-bottom:0;
}
.page-wrapper{
	background-color: #f8f8f8;
	width: 100%;
	text-decoration: left;
	display: inline-block;
	padding:5%;}
.support-wrap{
	margin: 1% 7%;
	padding: 5%;
	background-color: white;
	.panel-heading{
		font-size: 25px;
		border-left: 4px solid $themeOrange;
		padding: 0 2%;
	}
	.panel-body{
		padding: 5%;
	    display: flex;
	    flex-direction: inherit;
	    align-items: inherit;
	    flex-wrap: wrap;
	    .item-wrap{
			width: 40%;
    		margin: 2%;
			text-align: center;
            display: inline-block;
		}
		button{
			width: 100%;padding: 5%;
		}

	}
  .userguide{
    .item-wrap{
      text-align:left;
      width:100%;
      margin:0;
      padding:2%;
      border-bottom: 1px solid #eee;
      .ghost-button{
        border:none;
        i{
          padding-right:1vw;
        }
      }
    }
    .panel-group{
      width:100%;
    }
  }
	.software{

	}
	.moreOS{
		font-weight: bold;
		cursor: pointer;
		width: 100%;
		margin-top: 3%;
	}
	.moreOS:hover{
		color:$themeOrange;
	}

}
.table{
	color:#3c3c3c;
	width: 100%;
	padding: 0%;
	margin: 2%;
	.item-name{
		font-size:14px;
		.item-date{
			font-size:12px;
			color:#787878;
		}
	}
	.item-download{
		text-align: right;
		a{
			display: inline;
		}
		.item-wrap{margin-bottom: 2%;}
	}
}
</style>
