<template>
	<div><router-view></router-view></div>

</template>

<script>
    
</script>
<style lang="sass" scoped>
.page-wrapper{
	background-color: #f8f8f8;
	width: 100%;
	text-decoration: left;
	display: inline-block;
	padding:5%;}
</style>