<template lang="html">
  <div class="timeline">
  <ul>
    <li v-for="item in langData">
      <div><time>{{item.date}}</time>{{item.story}}</div>
    </li>
  </ul>
</div>
</template>

<script>
module.exports = {
  props:['language'],
  data : function(){
    return {
      langData:{}
    }
  },
  created:function(){
    const langText = {
      cn:{
        1:{
          date:"2013年5月",
          story:"UFACTORY在深圳成立"
        },
        2:{
          date:"2013年12月",
          story:"uArm在Kickstarter成功众筹25万美金"
        },
        3:{
          date:"2014年5月",
          story:"第一台uArm Acrylic发货"
        },
        4:{
          date:"2014年10月",
          story:"uArm Metal首发"
        },
        5:{
          date:"2015年1月",
          story:"李克强总理参观UFACTORY并体验产品"
        },
        6:{
          date:"2015年11月",
          story:"UFACTROY入驻位于南山区的新办公室"
        }
      },
      en:{
        1:{
          date:"May 2013",
          story:"UFACTORY founded in ShenZhen"
        },
        2:{
          date:"Dec 2013",
          story:"uArm project successfully raised $250,000 on kickstarter"
        },
        3:{
          date:"May 2014",
          story:"First uArm Acrylic shipped"
        },
        4:{
          date:"Oct 2014",
          story:"uArm Metal released"
        },
        5:{
          date:"Jan 2015",
          story:"Premier Li Keqiang met uArm and our team"
        },
        6:{
          date:"Nov 2015",
          story:"UFACTORY moved to the new office in Nanshan district"
        }
      }
    };
    if(this.language=='en' || this.language=='cn')
      this.langData=langText[this.language];
    else
      this.langData=langText['cn'];
  },
  mounted:function(){


    (function() {
      'use strict';
      // define variables
      var items = document.querySelectorAll(".timeline li");

      // check if an element is in viewport
      // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
      function isElementInViewport(el) {
        var rect = el.getBoundingClientRect();
        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
      }

      function callbackFunc() {
        for (var i = 0; i < items.length; i++) {
          if (isElementInViewport(items[i])) {
            items[i].classList.add("in-view");
          }
        }
      }
      // listen for events
      window.addEventListener("load", callbackFunc);
      window.addEventListener("resize", callbackFunc);
      window.addEventListener("scroll", callbackFunc);
    })();
  }
}
</script>

<style lang="sass">
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$themeOrange:#D95E2E;
$themeOrangeBA:#D95E2E;
.timeline ul {
  background: white;
  padding: 30px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #ccc;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: $themeOrange;
  color: white;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent $themeOrangeBA transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent $themeOrangeBA;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: $themeOrange;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.timeline ul li.in-view div:hover {
    text-shadow: 1px 1px 6px #fff;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent $themeOrangeBA transparent transparent;
  }
}
</style>
