<template>

<div class="page-wrapper" id="readout">
	<section class="banner banner1">
		<div id="submenu">
			<div class="subtitle">uArm Swift Pro</div>
			<div class="menu-right">
				<ul>
					<li v-on:click="scrollTop()">{{langData.submenu.overview}}</li>
					<li ><a :href="langData.banner9.pdflink" target="_blank">{{langData.submenu.detail}}</a></li>
					<!-- <li><router-link :to="{name:'question',params:{lang:country}}">{{langData.submenu.question}}</router-link></li>
					<li><router-link :to="{name:'download',params:{lang:country}}">{{langData.submenu.download}}</router-link></li> -->
					<li ><a :href="langData.submenu.storeLink" class="btn ghost-button" target="_blank">{{langData.submenu.buyText}}</a></li>
				</ul>
			</div>

		</div>
		<!-- <div class="video-play" @click="showVideo()">
			<img src="/src/img/swift/Button_play.svg" alt="playbutton">
			<span v-html="langData.banner1.text"></span>
		</div> -->
		<img v-bind:src="langData.banner1.image" @click="showVideo()">
	</section>
	<section class="banner2">
		<div class="text text-anima">
			<div class="title">{{langData.banner2.title}}</div>
			<div class="content slide-in" v-html="langData.banner2.content"></div>
		</div>
		<img v-bind:src="langData.banner2.image">
	</section>
	<section class="banner3">
		<div class="text text-anima">
			<div class="title">{{langData.banner3.title}}</div>
			<div class="content slide-in" v-html="langData.banner3.content"></div>
		</div>
		<div class="button-note">
			<div class="play-note text-anima">
				<span class="line"></span><span v-text="langData.banner3.playText"></span>
			</div>
			<div class="pause-note text-anima">
				<span class="line"></span><span v-text="langData.banner3.recordText"></span>
			</div>
		</div>
		<img v-bind:src="langData.banner3.image">
	</section>
	<section class="banner4">
		<div class="text text-anima">
			<div class="title" v-html="langData.banner4.title"></div>
			<div class="content slide-in" v-html="langData.banner4.content"></div>
		</div>
		<img v-bind:src="langData.banner4.image">
		<div class="gear-wrapper">
			<div class="gear-item" v-for="item in langData.banner4.gearitems">
				<img :src="item.image" alt="gear image">
				<div class="gear-name" v-text="item.name"></div>
			</div>
			<div class="gear-note">
				<div class="left-line"></div>
				<div class="note-text" v-text="langData.banner4.noteText"></div>
				<div class="right-line"></div>
			</div>
		</div>
	</section>
	<section class="banner5" >
		<img v-bind:src="langData.banner5.image">
		<div class="text text-anima">
			<div class="title">{{langData.banner5.title}}</div>
			<div class="content slide-in" v-html="langData.banner5.content"></div>
		</div>
		<div class="left-intro icon-intro">
			<div class="title" v-text="langData.banner5.left.title"></div>
			<div class="content">
				<div class="item">
					<!-- <object type="image/svg+xml" :data="langData.banner5.left.items[1].icon" class="logo"></object> -->
					<tooltip effect="scale" placement="bottom" :content="langData.banner5.left.items[1].text">
						<img :src="langData.banner5.left.items[1].icon" alt="">
					</tooltip>
				</div>
				<div class="item">
					<tooltip effect="scale" placement="bottom" :content="langData.banner5.left.items[2].text">
						<img :src="langData.banner5.left.items[2].icon" alt="">
					</tooltip>
				</div>
				<div class="item">
					<tooltip effect="scale" placement="bottom" :content="langData.banner5.left.items[3].text">
						<img :src="langData.banner5.left.items[3].icon" alt="">
					</tooltip>
				</div>
			</div>
		</div>
		<div class="right-intro icon-intro">
			<div class="title" v-text="langData.banner5.right.title"></div>
			<div class="content">
				<div class="item">
					<tooltip effect="scale" placement="bottom" :content="langData.banner5.right.items[1].text">
						<img :src="langData.banner5.right.items[1].icon" alt="">
					</tooltip>
				</div>
				<div class="item">
					<tooltip effect="scale" placement="bottom" :content="langData.banner5.right.items[2].text">
						<img :src="langData.banner5.right.items[2].icon" alt="">
					</tooltip>
				</div>
				<div class="item">
					<tooltip effect="scale" placement="bottom" :content="langData.banner5.right.items[3].text">
						<img :src="langData.banner5.right.items[3].icon" alt="">
					</tooltip>
				</div>
			</div>
	</section>
	<section class="banner banner6" id="banner6" v-bind:style="{backgroundImage:'url('+bannerbackground+')'}">
		<div class="title">
			{{langData.banner6.title}}
			<div class="subtitle">uArm Studio</div>
		</div>
		<carousel v-if="slidermove" >
		  <slider v-for="(value,index) in langData.banner6.sliders">
		    <img v-bind:src="value.image">
		    <div class="carousel-caption" v-html="value.content"></div>
		  </slider>
		</carousel>
	</section>
	<section class="banner7" v-bind:style="{backgroundImage:'url('+bannerbackground+')'}">
		<div class="text-logo">
			<div class="title"><img v-bind:src="langData.banner7.titleimg" alt="uslogo"></div>
			<div class="slogantext">{{langData.banner7.content}}</div>
		</div>
		<div class="content">
			<div class="left-intro">
				<div class="text-intro">
					<div class="intro-item" v-for="item in langData.banner7.introItem">
						<img :src="item.icon" alt=""><div v-html="item.text"></div>
					</div>
				</div>
				<img v-bind:src="langData.banner7.image1">
			</div>
			<div class="right-intro">
				<img v-bind:src="langData.banner7.image2">
			</div>
		</div>

	</section>
	<section class="banner8" v-bind:style="{backgroundImage:'url('+banner8bgd+')'}">
		<div >
			<div class="title">{{langData.banner8.title}}</div>
			<div class="content" v-html="langData.banner8.content"></div>
		</div>
		<div class="image-wrapper">
			<img v-for="(value,index) in langData.banner8.brandlogos" v-bind:src="value">
		</div>
	</section>
	<section class="banner9" v-bind:style="{backgroundImage:'url('+bannerbackground+')'}" id="banner9">
		<div class="title">{{langData.banner9.title}}</div>
		<div class="content">
			<table class="spec-table">
				<tr>
					<th v-for="item in langData.banner9.spec" v-text="item"></th>
				</tr>
				<tr v-for="item in langData.banner9.specItem">
					<td><img :src="item.image" alt="product img"><div class="product-name" ><span v-html="item.name"></span><span class="color-text" v-html="item.pro"></span></div></td>
					<td v-for="value in item.values" v-html="value"></td>
				</tr>
			</table>

		</div>
		<div class="text-center" >
			<a :href="langData.banner9.pdflink" target="_blank">
				<div class="" v-text="langData.banner9.download"></div>
				<img src="http://cdn.ufactory.cc/img/swift/pdf_download.svg" alt="pdf_download">
			</a>

		</div>
	</section>
	<!-- <button type="button" class="btn btn-success" @click="showModal = true">showave</button> -->
	<modal title=""  large v-model="showModal">
		<div v-if="showModal">
			<embed v-if="country=='cn'" v-bind:src="langData.videoLink" allow-full-screen="true" quality="high" width="480" height="400" align="middle" allow-script-access="always" type="application/x-shockwave-flash"></embed>
			<iframe v-else width="560" height="315" v-bind:src="langData.videoLink" frameborder="0" allowfullscreen></iframe>
		</div>
	  <div slot="modal-footer" class="modal-footer">
  </div>
	</modal>
</div>

</template>
<script>
// var Jquery = require('jquery');
// Jquery(".info_tittle").hide()
const Modal = require('vue-strap').modal,
		Carousel = require('vue-strap').carousel,
		Slider = require('vue-strap').slider,
		Tooltip = require('vue-strap').tooltip;
const bannerPath="http://cdn.ufactory.cc/img/swift/"; //local path is: /src/img/swift/ http://cdn.ufactory.cc/img/banner/
module.exports = {
	data : function(){
		return {
			country:'cn',
			langData:{},
			showModal:false,
			bannerbackground:bannerPath+"background.png",
			banner8bgd:bannerPath+"background8.png",
			slidermove:false
		}
	},
	created : function(){

			window.scrollTo(0, 0);
		if(this.$route.params.lang!==undefined){
			this.country = this.$route.params.lang;
		}
		console.log("language:"+this.country)
		var langText = {
			cn:{
				submenu:{
					overview:"产品介绍",
					detail:"技术参数",
					question:"常见问题",
					download:"软件下载",
					storeLink:"https://shop346325081.taobao.com/",
					buyText:"立即预订"
				},
				banner1:{
					image:bannerPath+"banner1.jpg",
					text:"uArm Swift & uArm Swift Pro介绍视频",
				},
				videoLink:"https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=j0375wx16rj&auto=1",
				banner2:{
					image:bannerPath+"banner2.jpg",
					title:"更高精度，更多功能",
					content:"uArm Swift Pro的重复定位精度达到0.2mm，<br>可实现画画、激光雕刻、3D打印等功能。"
				},
				banner3:{
					image:bannerPath+"banner3.jpg",
					title:"手持示教，开箱即用",
					content:"无需电脑，按下底座按钮，'手把手'让uArm重复指定动作。<br>零门槛交互，简单直接。",
					playText:"播放",
					recordText:"录制"
				},
				banner4:{
					gearitems:[
						{name:"Swift Universal Holder",image:bannerPath+"unselected_Universal holder.png"},
						{name:"Swift Gripper",image:bannerPath+"unselected_gripper@2x.png"},
						{name:"Swift 3D Printer",image:bannerPath+"unselected_3D Print Extruder.png"},
						{name:"Swift Laser",image:bannerPath+"unselected_laser.png"}
					],
					image:bannerPath+"banner4.jpg",
					title:"多种末端，随心切换",
					content:"可选择吸头、笔夹、夹子等多种官方配件，<br>标准化接口，切换末端更便捷。",
					noteText:"仅限uArm Swift Pro",
				},
				banner5:{
					image:bannerPath+"banner5.jpg",
					title:"丰富配件，自由组合",
					content:"搭配Seeed Grove的传感器/执行器配件，让uArm的功能更丰富、“感官”更敏锐。",
					left:{
						title:"底座Grove配件:",
						items:{
							1:{
								icon:bannerPath+"icon_lcd.svg",
								text:"LCD屏幕"
							},2:{
								icon:bannerPath+"icon_color sensor.svg",
								text:"颜色传感器"
							},3:{
								icon:bannerPath+"icon_temperature.svg",
								text:"温湿度传感器"
							},
						}
					},
					right:{
						title:"末端Grove配件:",
						items:{
							1:{
								icon:bannerPath+"icon_magnet.svg",
								text:"电磁铁"
							},2:{
								icon:bannerPath+"icon_PIR.svg",
								text:"动作传感器"
							},3:{
								icon:bannerPath+"icon_minifan.svg",
								text:"小风扇"
							},
						}
					}
				},
				banner6:{
					title:"简单易用，轻松上手",
					sliders:{
						1:{
							image:bannerPath+"slider1.png",
							content:"一个PC客户端，集合多种操作方式。<br>选择最适合你的方式，在uArm上实现你的创意。"
						},2:{
							image:bannerPath+"slider2.png",
							content:"专为uArm设计的Blockly图形化编程界面。<br>拖拽、拼接，即可定制你的第一个机器人项目。"
						},3:{
							image:bannerPath+"slider3.png",
							content:"同时使用鼠标和键盘快捷键，<br>实时控制uArm的动作。"
						},4:{
							image:bannerPath+"slider4.png",
							content:"PC端手持示教，随时回放录制过的uArm动作，<br>亦可在Blockly图形化编程中使用已录制的轨迹。 "
						},5:{
							image:bannerPath+"slider5.png",
							content:"体感控制,<br>让uArm实时跟随你的手部运动。"
						},6:{
							image:bannerPath+"slider6.png",
							content:"插入文字、图案或图片，<br>让uArm帮你画/雕刻出来。(仅限uArm Swift Pro)"
						}
					}
				},
				banner7:{
					introItem:[
						{
							icon:bannerPath+"icon_remote in real time.svg",
							text:"实时远程操控"
						},
						{
							icon:bannerPath+"icon_download.svg",
							text:"将你的Blockly图形化编程项目下载到手机，随时随地运行。"
						}
					],
					image1:bannerPath+"iphone_Horion.png",
					image2:bannerPath+"iphone_vertical.png",
					titleimg:bannerPath+"logo_UARM_PLAY.svg",
					content:"手机里的uArm遥控器"
				},
				banner8:{
					content:"uArm Swift和uArm Swift Pro都是开源的硬件平台。<br>欢迎开发者和我们一起创造更多可能。",
					title:"开源平台",
					brandlogos:{
						1:bannerPath+"Arduino_Logo.png",
						2:bannerPath+"python_logo.png",
						3:bannerPath+"ros-logo.png",
						4:bannerPath+"gc-logo.png",
						5:bannerPath+"opencv-logo.png",
					}
				},
				banner9:{
					title:"技术参数",
					spec:["","体积","重量","自由度", "重复定位精度","负载","活动半径"],
					specItem:[
						{
							name:"uArm Swift",
							pro:"",
							image:bannerPath+"swift.png",
							values:["150*132*281mm","1.2kg","4","5mm","500g","50mm - 320mm"]
						},{
							name:"uArm Swift ",
							pro:"Pro",
							image:bannerPath+"pro.png",
							values:["150*140*281mm","2.2kg","4","0.2mm","500g","50mm - 320mm"]
						}
					],
					download: "下载参数表",
					pdflink:"http://cdn.ufactory.cc/img/swift/uArm-Swift-Specifications-cn.pdf",
				}
			},
			en:{
				submenu:{
					overview:"Overview",
					detail:"Specifications",
					question:"Question",
					download:"Download",
					storeLink:"http://store.ufactory.cc/",
					buyText:"Pre-Order"
				},
				banner1:{
					image:bannerPath+"banner1en.jpg",
					text:"Introducing uArm Swift &amp; uArm Swift Pro"
				},
				videoLink:"https://www.youtube.com/embed/kzEkjx6Lmfg?rel=0&amp;autoplay=1",
				banner2:{
					image:bannerPath+"banner2.jpg",
					title:"HIGH PRECISION",
					content:"uArm Swift Pro owns a position repeatability of 0.2mm,<br>whcih is ready for delicate tasks like drawing,<br>laser engraving, and more."
				},
				banner3:{
					image:bannerPath+"banner3.jpg",
					title:"Offline Learning Mode",
					content:"Teach uArm by hand, and make uArm repeat what it 'learns',<br>simply by pressing the buttons on the base.",
					playText:"PLAY",
					recordText:"RECORD"
				},
				banner4:{
					gearitems:[
						{name:"Swift Universal Holder",image:bannerPath+"unselected_Universal holder.png"},
						{name:"Swift Gripper",image:bannerPath+"unselected_gripper@2x.png"},
						{name:"Swift 3D Printer",image:bannerPath+"unselected_3D Print Extruder.png"},
						{name:"Swift Laser",image:bannerPath+"unselected_laser.png"}
					],
					image:bannerPath+"banner4.jpg",
					title:"END-EFFECTORS:<br>CHOOSE FREELY,<br>SWITCH QUICKLY",
					content:"Suction cup, Universal Holder and Gripper to choose from.<br>Built-in standardised plug-in allows you to switch tools quickly.",
					noteText:"Only for uArm Swift Pro",
				},
				banner5:{
					image:bannerPath+"banner5.jpg",
					title:"SENSE THE WORLD",
					content:"Built with Seeed Grove sockets,<br>uArm Swift & uArm Pro can react to motion, temperature, and more.",
					left:{
						title:"Base Seeed Grove Extension:",
						items:{
							1:{
								icon:bannerPath+"icon_lcd.svg",
								text:"LCD RGB Backlight"
							},2:{
								icon:bannerPath+"icon_color sensor.svg",
								text:"Color Sensor"
							},3:{
								icon:bannerPath+"icon_temperature.svg",
								text:"Temperature &<br>Humidity Sensor"
							},
						}
					},
					right:{
						title:"Front Seeed Grove Extension:",
						items:{
							1:{
								icon:bannerPath+"icon_magnet.svg",
								text:"Electromagnet"
							},2:{
								icon:bannerPath+"icon_PIR.svg",
								text:"PIR Motion Sensor"
							},3:{
								icon:bannerPath+"icon_minifan.svg",
								text:"Mini Fan v1.1"
							},
						}
					}
				},
				banner6:{
					title:"EASY TO CONTROL",
					sliders:{
						1:{
							image:bannerPath+"slider1.png",
							content:"Simple & All-in-one<br>Control or programme uArm in the way you like."
						},2:{
							image:bannerPath+"slider2.png",
							content:"Graphical programming interface designed for uArm<br>Customise your robotic project in an intuitive way."
						},3:{
							image:bannerPath+"slider3.png",
							content:"Control uArm with mouse and keyboard shortcuts<br>at the same time."
						},4:{
							image:bannerPath+"slider4.png",
							content:"Teach uArm with your hand. Replay the recorded movement anytime.<br>Or apply the recorded movements in your Blockly projects. "
						},5:{
							image:bannerPath+"slider5.png",
							content:"Gesture control<br>Let uArm follow your hand motion."
						},6:{
							image:bannerPath+"slider6.png",
							content:"Insert shapes, texts or images, let uArm draw/engrave the pattern for you.<br>(Only for uArm Swift Pro)"
						}
					}
				},
				banner7:{
					introItem:[
						{
							icon:bannerPath+"icon_remote in real time.svg",
							text:"Real-time remote control"
						},
						{
							icon:bannerPath+"icon_download.svg",
							text:"Download your Blockly projects to<br>your phone and replay it anytime"
						}
					],
					image1:bannerPath+"iphone_Horion.png",
					image2:bannerPath+"iphone_vertical.png",
					titleimg:bannerPath+"logo_UARM_PLAY.svg",
					content:"Go Mobile"
				},
				banner8:{
					content:"Both hardware and software are open to you.<br>We welcome more possibilities, as always.",
					title:"FOR DEVELOPERS",
					brandlogos:{
						1:bannerPath+"Arduino_Logo.png",
						2:bannerPath+"python_logo.png",
						3:bannerPath+"ros-logo.png",
						4:bannerPath+"gc-logo.png",
						5:bannerPath+"opencv-logo.png",
					}
				},
				banner9:{
					title:"Specifications",
					spec:["","Size","Weight","Degrees of Freedom", "Repeatability","Payload","Working Range"],
					specItem:[
						{
							name:"uArm Swift",
							pro:"",
							image:bannerPath+"swift.png",
							values:["150*132*281mm","1.2kg","4","5mm","500g","50mm - 320mm"]
						},{
							name:"uArm Swift ",
							pro:"Pro",
							image:bannerPath+"pro.png",
							values:["150*140*281mm","2.2kg","4","0.2mm","500g","50mm - 320mm"]
						}
					],
					download: "Download Datasheet",
					pdflink:"http://cdn.ufactory.cc/img/swift/uArm-Swift-Specifications-en.pdf",
				}
			}

		};
		if(this.$route.params.lang=='en' || this.$route.params.lang=='cn')
				this.langData=langText[this.$route.params.lang];
			else
				this.langData=langText['cn'];


	},
	components:{
		modal:Modal,
		carousel:Carousel,
		slider:Slider,
		tooltip:Tooltip
	},
  	mounted : function(){
		window.scrollTo(0, 0);
  		var h = document.getElementById("submenu");
		//h.style.position = 'absolute';
		var readout = document.getElementById("readout");
		var stuck = false;
		var stickPoint = getDistance();
		let self= this;
		function getDistance() {
			var topDist = h.offsetTop;
			return topDist;
		}
		function fixSubMenu(e){
			var distance = getDistance() - window.pageYOffset;
			var offset = window.pageYOffset;
			//readout.innerHTML = stickPoint + '   ' + distance + '   ' + offset + '   ' + stuck;
			if ( (distance <= 0) && !stuck && window.pageYOffset>1) {
				h.style.position = 'fixed';
				h.style.top = '0px';
				stuck = true;
			} else if (stuck && (offset <= stickPoint)){
				h.style.position = 'absolute';
				stuck = false;
			}
		}
		window.addEventListener("scroll", fixSubMenu);

	      // define variables
	      let items = document.querySelectorAll(".text-anima");
	      let sliderdiv = document.getElementById("banner6");

	      // check if an element is in viewport
	      // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
	      function isElementInViewport(el) {
	        var rect = el.getBoundingClientRect();
	        return (
	          rect.top >= 0 &&
	          rect.left >= 0 &&
	          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
	          rect.right <= (window.innerWidth || document.documentElement.clientWidth)
	        );
	      }

	      function callbackFunc() {
	        for (var i = 0; i < items.length; i++) {
	          if (isElementInViewport(items[i])) {
	            items[i].classList.add("in-view");
	          }
	        }
	      }
		  function sliderShowCallback(){
			  if(isElementInViewport(sliderdiv))
			  	self.slidermove= true;
		  }
	      // listen for events
	      window.addEventListener("load", callbackFunc);
	      window.addEventListener("resize", callbackFunc);
	      window.addEventListener("scroll", callbackFunc);
	      window.addEventListener("scroll", sliderShowCallback);

  	},
  	// destroyed : function(){
  	// 	clearInterval( this.handle )
  	// }
  	//components:{accordion:require('vue-strap/src/Accordion.vue')},
  	methods:{
  		scrollBottom: function(){
				var target = document.getElementById("banner9");
			  window.scrollTo(0,target.offsetTop);
		},
		scrollTop:function(){
			  window.scrollTo(0,0);
		},
		showVideo:function(){
			this.showModal=true;
		}
  	},
  	route:{
  		canReuse: false, // force to reload data
    	//activate(transition) {},//load data
    	// load your data
  		// data: function (transition) {
       //      transition.next(DataObjectForCurrentRoute);
       //  }
  	}
}
</script>
<style lang="sass" scoped>
$textColor : #3C3C3C;
$themeOrange:#D95E2E;
.ghost-button{
	display: inline-block;
	color:white;
	text-align: center;
	outline: none;
	text-decoration: none;
	background-color: $themeOrange;
	cursor: pointer;
	font-family: 'Helvetica Neue',"微软雅黑";
	transition: all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
}
.ghost-button:hover,.ghost-button:active{
	background-color: white;
	color:$themeOrange;
	border:1px solid $themeOrange;
}
.detail-button{
	display: inline-block;
	color:$textColor;
	text-align: center;
	outline: none;
	text-decoration: none;
	background-color: white;
	cursor: pointer;
	border:none;
	font-family: 'Helvetica Neue',"微软雅黑";
}
.detail-button:hover{
	background-color: white;
	color:$themeOrange;
}


#submenu{
	position:absolute;
	height: 55px;
	left:0;
	display:inline-block;
	width: 100%;
  z-index: 9;
	background: rgba(25,25,25,0.7);
	justify-content:space-between;
	line-height: 55px;
	color: white;
	.subtitle{
		padding: 0 3%;
		width:19%;display: inline-block;
	}
	.menu-right{
		width:80%;display: inline-block;
		ul{
			width:100%;
			display:flex;
			justify-content: flex-end;
		}
		li{
			padding:0 3%;
			cursor:pointer;
			display:inline-table;
			a{
				color: white;
			}
		}
			li:hover{
				color:$themeOrange;
				a{
					color: $themeOrange;
				}
			}
	}
}
.page-wrapper{
	section{
		position: relative;
		background-size: 100% 100%;
		    overflow: hidden;
		img{
			width: 100%;
		}
		.text{
			visibility:hidden;
			position: absolute;
		    text-align: center;
		    color: white;
		    .title{
		    	font-size: 2.2vw;
				text-transform: uppercase;
		    }
		    .content{
		    	font-size: 1.2vw;
		    	margin: 3%;
		    }
		}
		.text.in-view{

			visibility:visible;
			/* Apply animation to this element */
			-moz-animation: fadeAndScale 3s ease-out;
			-webkit-animation: fadeAndScale 3s ease-out;
			animation: fadeAndScale 3s ease-out;
		}
		.play-note.in-view{
			visibility:visible;
			/* Apply animation to this element */
			-moz-animation: slidein 1s ease-out;
			-webkit-animation: slidein 1s ease-out;
			animation: slidein 1s ease-out;
		}
		.pause-note.in-view{
			visibility:visible;
			/* Apply animation to this element */
			-moz-animation: slidein 2s ease-out;
			-webkit-animation: slidein 2s ease-out;
			animation: slidein 2s ease-out;
		}
		/* Move it (define the animation) */
		@-moz-keyframes slidein {
			0%   { -moz-transform: translateX(-200%); }
			100% { -moz-transform: translateX(0%); }
		}
		@-webkit-keyframes slidein {
			0%   { -webkit-transform: translateX(-200%); }
			100% { -webkit-transform: translateX(0%); }
		}
		@keyframes slidein {
			0%   {
			-moz-transform: translateX(-200%); /* Firefox bug fix */
			-webkit-transform: translateX(-200%); /* Firefox bug fix */
			transform: translateX(-200%);
			}
			100% {
			-moz-transform: translateX(0%); /* Firefox bug fix */
			-webkit-transform: translateX(0%); /* Firefox bug fix */
			transform: translateX(0%);
			}
		}
		@keyframes fadeAndScale {
		    from {
		        opacity: 0;
		        transform: scale(.9, .9);
		    }
		    to {
		        opacity: 1;
		        transform: scale(1, 1);
		    }
		}
		.video-play{
			position: absolute;
			top: 36vw;
		    font-size: 1.6vw;
		    color: white;
		    cursor: pointer;
			display: flex;
		    flex-direction: column;
		    justify-content: initial;
			width: 100%;
		    align-items: center;
		    height: 10vw;
			img{
				width: 14%;
				padding: 2%;
			}
		}
	}
	.banner1 img{
		cursor:pointer;
	}
	.banner2{
		.text{
			width: 40vw;
		    left: 56vw;
		    top: 8vw;
		}
	}
	.banner3{
		.text{
			width: 40vw;
			left: 56vw;
			top: 22vw;
		}
		.button-note{
			position: absolute;
			top: 29vw;
			color: white;
			left: 21vw;
			div{
				height: 2.2vw;
				font-size: 1.3vw;
				visibility:visible;
			}
			.play-note{
				margin-left: 6.5vw;
			}
			.line{
				width: 18vw;
			    border-bottom: solid 1px white;
			    display: inline-block;
			    margin-bottom: 0.5vw;
				margin-right: 0.3vw;
			}
		}
	}
	.banner4{
		.text{
			width: 39vw;
		    left: 56vw;
		    top: 9.5vw;
		    margin: 4vw;
		    text-align: left;
			.title{
				text-align: left;
			}
			.content{
				margin: 1vw 0;
			}
		}
		.gear-wrapper{
			position: absolute;
			top: 32vw;
			display: flex;
			width: 100%;
			justify-content: center;
			.gear-item{
    			margin: 2vw 3vw;
				background: rgba(80,80,80,0.7);
				img{
					padding: 0vw 1vw 3vw;
					-webkit-transition: all 1s ease;
				    -moz-transition: all 1s ease;
				    -ms-transition: all 1s ease;
				    -o-transition: all 1s ease;
				    transition: all 1s ease;
					width: 11vw;
					-webkit-transform:scale(0.8);
				    -moz-transform:scale(0.8);
				    -ms-transform:scale(0.8);
				    -o-transform:scale(0.8);
				     transform:scale(0.8);
				}
				.gear-name{
					position: absolute;
					bottom: 2vw;
					width: 11vw;
					text-align: center;
					padding: 1vw 0;
					color: white;
					font-size: 0.9vw;
    			line-height: 0.9vw;
				}
			}
			.gear-item:hover{

				box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
				img{
					-webkit-transform:scale(0.7);
				    -moz-transform:scale(0.7);
				    -ms-transform:scale(0.7);
				    -o-transform:scale(0.7);
				     transform:scale(0.7);
				}

				.gear-name{
					background: rgba(105, 105, 105, 0.8);
					font-size: 1vw;
    			line-height: 1vw;
				}
			}
			.gear-note{
				position: absolute;
			    width: 17vw;
			    height: 1vw;
			    border-left: 1px solid $themeOrange;
			    border-right: 1px solid $themeOrange;
			    top: 19.8vw;
				color:$themeOrange;
				display: flex;
				left: 57.5vw;
				.left-line{
					width: 3vw;
					border-bottom: 1px solid $themeOrange;
					top: 11vw;
				}
				.note-text{
					width: 12vw;
					padding-top: 0.4vw;
					text-align: center;
					font-size: 0.9vw;
				}
				.right-line{
					width: 3vw;
					border-bottom: 1px solid $themeOrange;
					top: 11vw;
				}
			}
		}
	}
	.banner5{
		color:white;
		.text{
			width: 100%;
			top: 46vw;
			text-align: center;
			.content{
				margin:1%;
			}
		}
		.icon-intro{
			position: absolute;
			display: flex;
			align-items: center;
			font-size:1.2vw;
			width: 20vw;
			flex-direction: column;
			.content{
				display:flex;
				    padding: 0.7vw 0;
				.item{
					width: 7vw;
				    padding: 0;
				    display: flex;
				    flex-direction: column;
				    justify-content: center;
				    align-items: center;
				    font-size: 0.7vw;
					img{
						width: 3vw;
						height: 3vw;
						cursor:pointer;
					}
					span{
						padding: 0.7vw;
					}
				}

			}
		}
		.left-intro{
			top: 22vw;
    		left: 7.6vw;
		}
		.right-intro{
			top: 27vw;
			right: 3.5vw;
		}
	}
	.banner6 {
		.title{
			color: white;
			margin: auto;
			padding: 3vw 0 1vw;
			text-align: center;
		    font-size: 2.2vw;
			.subtitle{
				color: #D95E2E;
				font-size: 1.1vw;
				width: 9vw;
				margin: 1vw auto 0;
				border-bottom: 1px solid white;
				padding-bottom: 0.6vw;
			}
		}
		.carousel{
			width: 80vw;
		    margin: auto;
		    top: 0vw;
			padding: 7vw 0 6vw;
			overflow: hidden;
			.item {
				img{
					width: 70% ;
					margin: 0 15%;
				}
				.carousel-caption{
					font-size:1.2vw;
				}
			}

		}
	}
	.banner7 {
		.text-logo{
			text-align: center;
			padding-top: 4vw;
			position: relative;
			img{
				width:16vw;
			}
			.slogantext{
				font-size: 1.2vw;
			    margin: 1vw;
			    color: $themeOrange;
			}
		}
		.content{
			display:flex;
			align-items: center;
    		justify-content: center;
			.left-intro{
			    width: 40vw;
				display: flex;
			    flex-direction: column;
			    justify-content: center;
			    align-items: center;
			    color: white;
				.text-intro{
					padding-bottom: 2vw;
				}
				.intro-item {
					padding: 2vw 0;
					font-size: 1.2vw;
    				height: 1.6vw;
					display:flex;
					align-items: center;
					img{
						width: 4vw;
						height: 2vw;
						padding-right: 1vw;
					}
				}
			}
			.right-intro{
				width: 22vw;
			}
		}
	}
	.banner8 {
		text-align:center;
		color:white;
		.title{
			padding-top: 10vw;
			font-size: 2.2vw;
		}
		.content{
			margin: 2%;
			font-size: 1.2vw;
		}
		.image-wrapper{
			display:flex;
			justify-content: center;
    		align-items: center;
			padding: 2vw 0 17vw;

			img{
				width: 17vw;
				padding: 3vw;
			}
			img:first-child{
			    transform: scale(.6, .6);
			}
		}
	}
	.banner9{
		color:white;
		padding-bottom: 7vw;
		.title{
			text-align: center;
			padding: 4%;
			font-size: 2vw;
			text-transform: uppercase;
		}
		.content{
			font-size: 0.7rem;
			padding:0 12% 6%;
		    display: flex;
		    flex-direction: row;
		    align-items: center;
		    justify-content:space-between;
		    text-align: left;
		    opacity: 0.8;

			table{
				width: 100%;
				border-collapse: collapse;
				font-size: 1.2vw;
			}
		    td,th{
				vertical-align: middle;
				text-align: center;
		    	img{
					width: 6vw;
					padding: 0.7vw;
				}

		    }
			td + td,th + th{
			    border-left: 1px solid #979797;
			    border-top: none;
				line-height: 3vw;
			}
			tr + tr{
				border-top: 1px solid #979797;
			}
			.color-text{
				color:$themeOrange ;
			}
		}
		.text-center{
			text-align: center;
			padding-bottom: 6vw;
			font-size: 1vw;
			color:$themeOrange;
			cursor:pointer;
			width: 20vw;
    margin: auto;
    padding: 1vw;
		a{
			color:$themeOrange;
		}
			img{
				width:1.2vw;
			}
		}
			.text-center:hover{
				background-color:rgba(0,0,0,0.1);
			}
	}

}
.main_menu{
	background-color: #ccc !important;
}
.svg-fill{
	cursor:pointer;
}
.svg-fill  path{
    fill:red;
    stroke:green;
}
.svg-fill:hover path{
    fill:red;
    stroke:red;
}


</style>
