/*@font-face{font-family:'DINPro';src: url('../font/DINPro-Light.otf');}*/
@font-face {
    font-family: "ufactoryFont";
    src: url("http://cdn.ufactory.cc/fonts/Gotham-Light_0.otf") format("opentype");
}
@font-face {
    font-family: "ufactoryFont";
    src: local('Hiragino Sans GB');
    unicode-range: U+3040-309F;
}
html{
    margin: 0;padding: 0;width: 100%;
    height: 100%;
	font-size:16px;
}
body{
    height: 100%;
	padding: 0;
	left: 0;top: 0;
	transition: all 0.5s ease-out;
	-moz-transition：all 0.5s ease-out;
	-webkit-transition：all 0.5s ease-out;
	-o-transition：all 0.5s ease-out;
	font-family: "ufactoryFont","Hiragino Sans GB","MicrosoftYaHeiLight","Microsoft YaHei","微软雅黑","华文细黑","STXihei","SimSun","Arial","sans-serif",'Helvetica Neue';
}
#app{
    min-height: 100%;
    height: 100%;
}
a{width: 100%;height: auto;text-decoration: none; color:#3c3c3c;}

a:hover,a:focus{color:#D95E2E; text-decoration: none;}
a:active{color:#3c3c3c;}
ul{margin: 0;padding: 0;}
li{margin: 0;padding: 0;list-style: none;}
p{margin: 0;}

header{margin: 0;padding: 0;width: 100%;text-align: center;z-index: 100;position: relative;top: 0;left: 0;}
header .main{height: 55px;margin: 0 5%;box-sizing: border-box;text-align: center;display: flex;}
header .main .main_menu{position: relative;z-index: 50;height: 100%;}
header .main .main_menu > ul{position: relative;z-index: 51;}
header .main .main_menu > ul > li{transition:all 0.3s ease-out;-moz-transition：all 0.3s ease-out;-webkit-transition：all 0.3s ease-out;-o-transition：all 0.3s ease-out;}

header .main .main_menu > ul > li a i:before{transition: all .3s ease-out;-moz-transition: all .3s ease-out;-webkit-transition：all 0.3s ease-out;-o-transition：all 0.3s ease-out;}
header .main .main_menu .flow{float: left;position: absolute;top: 0;left: 0;}
header .main .login{float: right;display: inline-block;}
header .language{display: none;}
header .main .main_menu > ul{height: 100%;}
header .main .main_menu > ul > li{display: inline-block;padding: 0 15px;position: relative;height: 100%;line-height: 55px;min-width: 100px;}
header .main .main_menu > ul > li.mo:hover i:before{transform:rotate(90deg);-ms-transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);}

footer{width: 100%;overflow: hidden;}
footer > div{height: 100%;}

@media only screen and (min-width: 769px)  {
    html{
        font-size: 18px;
      }
    .uf-button{
  		width: 150px;height: 42px;
  		line-height: 42px;
  		font-size: 18px;
  		letter-spacing: 3px;
  	}
}
@media only screen and (min-width: 1024px) {
    html{
      font-size: 20px;
      line-height: 1.4;
    }
    .uf-button{
		width: 120px;height: 32px;
		line-height: 32px;
		font-size: 14px;
		letter-spacing: 2px;
	}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
.hover{
	height: 1px;
	position: absolute;
	top: 46px;left: 0;
	z-index: 101;
}
.hover.active{
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition：all 0.3s ease-out;
	-o-transition：all 0.3s ease-out;
}
.mask{
	width: 100%;height: 100%;
	position: fixed;
	left: 0;top: 0;
	z-index: 99;
	display: none;
	transition: all 0.5s ease-out;
	-moz-transition：all 0.5s ease-out;
	-webkit-transition：all 0.5s ease-out;
	-o-transition：all 0.5s ease-out;
}

.uf-icon-add{content: url(../img/social/foot_add.svg);}
.uf-icon-facebook{content: url(../img/social/icon-facebook.svg);max-width: 30px;}
.uf-icon-twitter{content: url(../img/social/icon-twitter.svg);max-width: 30px;}
.uf-icon-youtube{content: url(../img/social/icon-youtube.svg);max-width: 30px;}
.uf-icon-ins{content: url(../img/social/icon-ins.svg);max-width: 30px;}
.uf-icon-weibo{content: url(../img/social/icon-weibo.svg);max-width: 30px;}
.uf-icon-weixin{content: url(../img/social/icon-weixin.svg);max-width: 30px;}
.uf-icon-youku{content: url(../img/social/icon-youku.svg);max-width: 30px;}
.uf-icon-txviedo{content: url(../img/social/icon-txvideo.svg);max-width: 30px;}
.uf-icon-reddit{content: url(../img/social/icon-reddit.svg);max-width: 30px;}
.uf-icon-instructable{content: url(../img/social/icon-instructable.png);max-width: 30px;}
.uf-icon-google{content: url(../img/social/icon-google.svg);max-width: 30px;}

div.slide-left {
  width:100%;
  overflow:hidden;
}
div.slide-left .text {
  animation: slide-left 10s;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.shopping-cart{
	display: inline-block;
    float: right;
    position: relative;
    padding: 1% 2%;
    cursor: pointer;
}
.support-wrap .panel-body .nav-tabs.nav-justified>li>a{
	color: #888 ;
}
.support-wrap .panel-body .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover{
	color: black ;
}
.breadcrumb{
	margin-bottom:0;
	cursor: pointer;
	padding: 8px 12%;
}
.anwser-text .linktext{
	color:#D95E2E;
	opacity: 1;
	text-decoration: underline;
}
.anwser-text .linktext:hover{
	opacity: 0.7;
}
.anwser-text li{
	list-style-type: disc;
	text-transform: none;
}
.glyphicon-chevron-left:before {
	background-image: url(../img/social/arrow-left.svg);
	background-size: 30px 60px;
	display: inline-block;
	width: 30px;
	height: 60px;
	content: "";
	cursor: pointer;
}
.glyphicon-chevron-right:before {
	background-image: url(../img/social/arrow-right.svg);
	background-size: 30px 60px;
	display: inline-block;
	width: 30px;
	height: 60px;
	content: "";
	cursor: pointer;
}
.carousel-indicators li{
	width: 8px;
  height: 8px;
	margin: 0 4px;
    opacity: 0.2;
    background-color: white;
}
.carousel-caption{
    padding-bottom: 5vw;
    text-shadow: none;
}
.carousel-indicators .active{
	width: 8px;
    opacity: 1;
  	margin: 0 4px;
  height: 8px;
}
.carousel-indicators{
	bottom: -5px;
}
.question-wrap li.active:after{
	background: url(../img/social/question-arrow-right.svg) no-repeat;
	content: "";
	width: 20px;
	height: 100%;
	background-size: 10px 100%;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
}
.qr-modal .modal-container{
	width:40%;
	text-align: center;
}
.subscribe-new-container, .subscribe-container{
	font-family:"Gothamrnd","Microsoft YaHei","微软雅黑","华文细黑","STXihei","SimSun","Arial","sans-serif",'Helvetica Neue';
}

.modal-footer{text-align:center;}

.modal-lg .modal-content{
    background: black;
}
.modal-lg .modal-body{
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
}
.modal-lg .close{
    color: white;
    opacity: 1;
}
.modal-lg .close:hover{
    color: #ccc;
    opacity: 1;
}
.modal-lg .modal-header{
         border-bottom: none;
}
.modal-lg .modal-footer{

             border-top: none;
}
iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
body.modal-open{
    padding-right: 0!important;
}
.panel-primary{
  border-color: #d95e2e;
}
.panel-primary>.panel-heading{
  background-color: #d95e2e;
  border-color:#d95e2e;
}
.panel-primary>.panel-heading+.panel-collapse>.panel-body{
  border-top-color:#d95e2e;
}
.banner6 .carousel-caption{
    bottom: initial;
    top: -7vw ;
}
.banner6 .carousel-inner{
    overflow: visible ;
}
.banner6 .carousel-indicators{
    padding: 2vw 0;
}
.banner6 .carousel-control.left, .banner6 .carousel-control.right{
    background-image: none;
}
